<div id="cardViewer" class="docked float-left card-view card-view-x">
    <!-- Ensure styles are loaded -->
    <style resx:import="assets/css/prototyped.min.css"></style>
    <style>
        .contents {
            margin: 0 !important;
            padding: 0 !important;
            background: #E0E0E0!important;
        }
    </style>
    <!-- slider container -->
    <div class="slider docked">
        <!-- prev / next controls -->
        <a class="arrow prev" href="" ng-show="false" ng-click="cardView.showPrev()"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="arrow next" href="" ng-show="false" ng-click="cardView.showNext()"><i class="glyphicon glyphicon-chevron-right"></i></a>

        <div class="boxed">
            <!-- enumerate all photos -->
            <a class="card fixed-width slide"
               ng-class="{ 'inactive-gray-25': route.cardview.ready === false }"
               ng-repeat="route in cardView.pages | orderBy:'(priority || 1)'"
               ng-if="route.cardview && (!route.visible || route.visible())"
               ng-href="{{route.url}}"
               ng-class="{ 'active': cardView.isActive($index) }"
               ng-swipe-right="cardView.showPrev()"
               ng-swipe-left="cardView.showNext()">
                <div class="card-image" ng-class="route.cardview.style">
                    <div class="banner"></div>
                    <h2>{{route.cardview.title}}</h2>
                </div>
                <p>{{route.cardview.desc}}</p>
            </a>
        </div>

        <!-- extra navigation controls -->
        <ul class="small-only slider-nav">
            <li ng-repeat="page in cardView.pages" ng-class="{'active':isActive($index)}">
                <a href="" ng-click="cardView.showItem($index);" title="{{page.title}}"><i class="glyphicon glyphicon-file"></i></a>
            </li>
        </ul>
    </div>
</div>