<div class="text-editor" ng-init="myWriter.init()">
    <style>
        .text-area {
            width: 100%;
            padding: 6px;
            min-height: 520px;
        }
    </style>
    <div class="btn-group btn-group-sm">
        <a ng-href="/" ng-click="myWriter.checkUnsaved() && $event.preventDefault()" class="btn btn-default pull-left"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a href="" class="btn btn-default pull-left" ng-click="myWriter.newFile()"><i class="glyphicon glyphicon-file"></i></a>
        <a href="" class="btn btn-default pull-left" ng-click="myWriter.openFile()" ng-disabled="!myWriter.HasFileSys"><i class="glyphicon glyphicon-folder-open"></i></a>

        <div class="btn-group btn-group-sm pull-right">
            <a href="" ng-disabled="!myWriter.FileLocation" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-save"></i>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li ng-class="{'disabled': !myWriter.HasFileSys || !myWriter.FileContents}">
                    <a href="" ng-click="myWriter.saveFileAs()"><i class="glyphicon glyphicon-floppy-disk"></i> Save file as...</a>
                </li>
                <li ng-class="{'disabled': !myWriter.HasFileSys || !myWriter.FileLocation}">
                    <a href="" ng-click="myWriter.openFileLocation()" ng-disabled="!myWriter.HasFileSys || !myWriter.FileLocation"><i class="glyphicon glyphicon-save"></i>Open file...</a></ling-class>
            </ul>
        </div>
        <a href="" class="btn btn-default pull-right" ng-click="myWriter.saveFile()" ng-disabled="!(myWriter.HasFileSys && myWriter.HasChanges)"><i class="glyphicon glyphicon-floppy-disk"></i></a>
        <div class="input-group input-group-sm">
            <label for="txtFileName" class="input-group-addon">File:</label>
            <input id="txtFileName" type="text" class="cmd-input form-control" tabindex="1" value="{{myWriter.FileLocation}}"
                   placeholder="{{ myWriter.FileLocation || 'Create new or open existing...' }}"
                   ng-readonly="true" />
        </div>
    </div>
    <textarea id="FileContents" class="text-area" ng-disabled="myWriter.FileContents == null" ng-model="myWriter.FileContents"></textarea>
    <input style="display:none;" id="fileDialog" type="file" accept=".txt,.json" />
    <input style="display:none;" id="saveDialog" type="file" accept=".txt" nwsaveas />
</div>