<ul class="nav navbar-nav">
    <li ui:sref-active="open">
        <a app:nav-link ui:sref="about.info">
            <i class="fa fa-info-circle"></i>&nbsp; About this app
        </a>
    </li>
    <li ui:sref-active="open">
        <a app:nav-link ui:sref="about.conection">
            <i class="fa fa-plug"></i>&nbsp; Check Connectivity
        </a>
    </li>
    <li ui:sref-active="open">
        <a app:nav-link ui:sref="about.online">
            <i class="fa fa-globe"></i>&nbsp; Visit us online
        </a>
    </li>
</ul>