<div style="width: 100%">
    <h4>
        File Browser
        <small>Explore files and folders on your local system</small>
    </h4>    
    <div ng:cloak>
        <div id="fileExplorer" class="dock-vert">
            <div proto:address-bar></div>
            <div class="loader" ng-show="myReader.isBusy">
                <em>Loading...</em>
            </div>
            <div ng-show="myNode.isActive && !myReader.isBusy">
                <div class="panel-contents dock-vert ">
                    <ul style="margin: 5px;" id="files" class="files"></ul>
                </div>
            </div>
            <div ng-show="!myNode.isActive">
                <br />
                <h5>
                    <i class="glyphicon glyphicon-warning-sign"></i> Warning <small>All features not available</small>
                </h5>
                <div>
                    <p>
                        <b>Please Note:</b> You are running this from a browser window.
                    </p>
                    <p>
                        For security reasons, web browsers do not have permission to use the local file system, or other advanced operating system features.
                    </p>
                    <p>
                        To use this application with full functionality, you need an elevated runtime (<a href="/about/info">see this how to</a>).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>