node_modules/
**/*.log
**/*.user
**/obj/**
**/bin/**
**/tmp/**
/app
*.suo
/**/packager.exe
/prototyped.ng/assets/css
/prototyped.ng.samples/assets/css
/prototyped.ng.samples/assets/lib/prototyped.ng.js
/prototyped.node/.ntvs_analysis.dat
/prototyped.ng.features/assets/css
/prototyped.ng.features/assets/lib/prototyped.ng.js
/prototyped.ng/builder/coverage
/prototyped.ng/builder/compiled
