<div class="container">
    <h4>
        This is a prototyped web application <small>(or a clone of it at the very least)</small>
    </h4>
    <div class="alert alert-info animate-show">
        <i class="glyphicon glyphicon-comment"></i>
        <b>ToDo:</b>
        <em>Replace this text with your implementation code</em>
    </div>    
    <h5>
        &raquo; This web application comes pre-loaded with:
    </h5>
    <ul>
        <li><b>JQuery</b> - Extended javascript funtionality</li>
        <li><b>Bootstrap</b> - Default styles for UI components</li>
        <li><b>AngularJS</b> - Responsive Single Page Applications</li>
        <li><b>NodeJS</b> - <em>If Node-Webkit runtime is used</em></li>
    </ul>
</div>