<ul class="list-group">

    <li class="list-group-item" ui:sref-active="active">
        <a ui:sref="proto.explore">
            <i class="fa fa-arrow-circle-left"></i>&nbsp; Site Map Explorer
        </a>
    </li>
    <li class="list-group-item" style="padding: 6px 0" ng-if="state.current.name == 'proto.explore'">
        <abn:tree tree-data="navigation.siteExplorer.children"
                  icon-leaf="fa fa-file-o"
                  icon-expand="fa fa-plus"
                  icon-collapse="fa fa-minus"
                  expand-level="2">
        </abn:tree>
    </li>

    <li class="list-group-item" ui:sref-active="active" ng-if="navigation.externalLinks">
        <a ui:sref="proto.links">
            <i class="fa fa-globe"></i>&nbsp; External Links
        </a>
    </li>
    <li class="list-group-item" style="padding: 6px 0; overflow-x:hidden;" 
        ng-if="navigation.externalLinks && state.current.name == 'proto.links'">
        <abn:tree tree-data="navigation.externalLinks.children"
                  icon-leaf="fa fa-globe"
                  icon-expand="fa fa-plus"
                  icon-collapse="fa fa-minus"
                  expand-level="2">
        </abn:tree>
    </li>

    <li class="list-group-item" ui:sref-active="active" ng-if="navigation.fileSystem">
        <a ui:sref="proto.browser">
            <i class="fa fa-hdd-o"></i>&nbsp; File System Browser
        </a>
    </li>
    <li class="list-group-item" style="padding: 6px 0" ng-if="navigation.fileSystem && state.current.name == 'proto.browser'">
        <!-- Ensure styles are loaded -->
        <style resx:import="assets/css/images.min.css"></style>
        <div class="info-overview" ng-if="!appNode.active">
            <div class="panel-icon-lg">
                <div class="img-drive-warn inactive-gray" style="height: 128px; width: 128px;"></div>
            </div>
        </div>
        <div ng-if="appNode.active && navigation.fileSystem">
            <abn:tree tree-data="navigation.fileSystem.children"
                      icon-leaf="fa fa-folder"
                      icon-expand="fa fa-folder"
                      icon-collapse="fa fa-folder-open"
                      expand-level="2">
            </abn:tree>
        </div>
    </li>

    <li class="list-group-item" ui:sref-active="active" ng-if="navigation.clientStates">
        <a ui:sref="proto.routing">
            <i class="fa fa-tasks"></i>&nbsp; UI State &amp; Routing
        </a>
    </li>
    <li class="list-group-item" style="padding: 6px 0" ng-if="navigation.clientStates && state.current.name == 'proto.routing'">
        <abn:tree tree-data="navigation.clientStates"
                  icon-leaf="fa fa-cog"
                  icon-expand="fa fa-plus"
                  icon-collapse="fa fa-minus"
                  expand-level="2">
        </abn:tree>
    </li>
</ul>
