<div class="inspection-view" style="width: 100%">
    <style>
        .overlay-group {
            fill: rgba(255, 255, 255, 0.1);
            user-select: none;
        }

        .contents-group {
        }

        .ui-view-main {
            margin: 0 !important;
            padding: 0 !important;
            position: relative;
        }

        .ui-view-left {
            margin-right: 0 !important;
        }

        .inspection-view {
            margin: 0;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            display: flex;
            position: absolute;
            flex-direction: column;
        }

        .inspection-contents {
            margin: 0;
            width: 100%;
            flex-grow: 1;
            flex-shrink: 0;
        }

        .region-overlay {
            fill: none;
            pointer-events: all;
        }

        .outer-region {
            fill: rgba(190, 190, 190, 0.75);
            stroke: rgba(0, 0, 0, 0.75);
            stroke-width: 2;
        }

        .window-region {
            fill: rgba(225, 225, 225, 0.50);
            stroke: rgba(0, 0, 0, 1);
            stroke-width: 2;
        }

        .inner-region {
            fill: rgb(186, 186, 186);
            fill-opacity: 0.5;
            stroke: rgba(0, 0, 0, 0.35);
            stroke-width: 1;
        }

            .inner-region.ng-elem {
                fill: rgb(118, 255, 85);
                stroke: rgba(48, 168, 0, 0.91);
            }

            .inner-region.ng-dataz {
                fill: rgb(255, 0, 226);
                stroke: rgba(208, 0, 184, 0.71);
            }

            .inner-region.ng-link {
                fill: rgb(0, 161, 255);
                stroke: rgba(0, 0, 0, 0.75);
            }

            .inner-region.ng-form {
                fill: rgb(255, 250, 0);
                stroke: rgb(255, 187, 0);
            }

            .inner-region.ng-label {
                fill: rgb(255, 187, 0);
                stroke: rgb(255, 216, 0);
            }

            .inner-region.ng-input {
                fill: rgb(255, 187, 0);
                stroke: rgb(255, 106, 0);
            }

            .inner-region.ng-button {
                fill: rgb(0, 107, 255);
                stroke: rgb(0, 18, 124);
                stroke-width: 2px;
            }

            .inner-region.ng-submit {
            }

            .inner-region.ng-reset {
            }

            .inner-region:hover {
                stroke-width: 3px;
                fill-opacity: 0.95;
            }
    </style>
    <page-layout-viewer class="inspection-contents">
    </page-layout-viewer>
    <span style="position: absolute; right: 8px; top: 8px">
        <div class="btn-group btn-group-xs" role="group" aria-label="...">
            <a href="" class="btn btn-default" ng-click="exploreCtrl.togglePerspective()">Show Perspective</a>
            <a href="" class="btn btn-default" ng-click="exploreCtrl.toggleDockedRegion()">Show Docked</a>
        </div>
    </span>
</div>