<div class="inspection-view" style="width: 100%">
    <style>
        .ui-view-main {
            margin: 0 !important;
            padding: 0 !important;
            position: relative;
        }

        .ui-view-left {
            margin-right: 0 !important;
        }

        .inspection-view {
            margin: 0;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            display: flex;
            position: absolute;
            flex-direction: column;
        }

        .inspection-contents {
            margin: 0;
            width: 100%;
            flex-grow: 1;
            flex-shrink: 0;
        }

        .region-overlay {
            fill: none;
            pointer-events: all;
        }

        .outer-region {
            fill: rgb(190, 190, 190);
            stroke: rgba(0, 0, 0, 1);
            stroke-width: 2;
        }

        .inner-region {
            fill: rgba(0, 148, 255, 0.35);
            stroke: rgba(0, 0, 0, 0.35);
            stroke-width: 1;
        }
            .inner-region.ng-elem {
                fill: rgba(49, 255, 0, 0.35);
                stroke: rgba(0, 0, 0, 0.75);
            }

            .inner-region:hover {
                fill: rgba(0, 21, 255, 0.75);
                stroke: rgba(0, 0, 0, 0.75);
            }


    </style>
    <page-layout-viewer class="inspection-contents">
    </page-layout-viewer>
    <span style="position: absolute; right: 8px; top: 8px">
        <a href="" ng-click="exploreCtrl.toggleDockedRegion()"> Toggle Docked</a>
    </span>
</div>