<div id="NotificationView" class="container" style="width: 100%;">

    <!-- Define required scripts & styling for bootstrap switch -->
    <script resx:import="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
    <link rel="stylesheet" resx:import="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css"></style>

    <!-- Define required styling for alertify -->
    <link rel="stylesheet" resx:import="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.core.css" />
    <link rel="stylesheet" resx:import="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.default.min.css" />
    <!-- This script gets loaded by hookAlertify method
    <script resx:import="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.min.js"></script>
    -->

    <div class="row">
        <div class="col-md-12">
            <span class="pull-right ng-cloak" style="padding: 6px;">
                <input type="checkbox"
                       ng:show="notify.ready !== null"
                       ng:model="notify.enabled"
                       bs:switch
                       switch:size="mini"
                       switch:inverse="true">
            </span>
            <h4>
                {{ notify.isPatched() ? 'Desktop' : 'Browser' }} Notifications
                <small>Various mechanisms of user notification in HTML5.</small>
            </h4>
            <hr />
            <p ng-show="notify.ready === null">
                <em>
                    <i class="fa fa-spinner fa-spin"></i>
                    <b>Requesting Access:</b> Desktop notifications...
                </em>
                <span>
                    <a href="" ng-click="notify.ready = false">cancel</a>
                </span>
            </p>
            <div ng-show="notify.ready !== null" class="row">
                <div class="col-md-3">
                    <div>
                        <h5>
                            Notification Types
                        </h5>
                        <div class="thumbnail">
                            <div style="padding: 0 8px;">
                                <div class="radio"
                                     ng-class="{ 'inactive-gray': !method.enabled() }"
                                     ng-repeat="method in methods">
                                    <label>
                                        <input type="radio" name="optionsMethods"
                                               id="option_method_{{method.name}}"
                                               value="{{ method.name }}"
                                               ng-disabled="!method.enabled()"
                                               ng-click="notify.current = method"
                                               ng-checked="notify.current.name == method.name">
                                        <span ng-if="(notify.current.name != method.name)">{{ method.label }}</span>
                                        <strong ng-if="(notify.current.name == method.name)">{{ method.label }}</strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="notify.current.name == 'notify'">
                        <h5>
                            Message Styling
                        </h5>
                        <form class="thumbnail">
                            <div class="form-group">
                                <label for="exampleIcon">Icon File</label>
                                <input type="file" id="exampleIcon">
                                <p class="help-block">Image to display with message.</p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="" ng-class="{ 'col-md-6':notify.enabled, 'col-md-9': !notify.enabled }">
                    <h5>Create a new message</h5>
                    <form class="thumbnail"
                          ng-disabled="notify.ready"
                          ng-init="msgOpts = { title: 'Web Notification', body: 'This is a test message.'}">
                        <div style="padding: 8px;">
                            <div class="form-group">
                                <label for="exampleTitle">Message Title</label>
                                <input type="text" class="form-control" id="exampleTitle"
                                       placeholder="Enter title"
                                       ng-model="msgOpts.title">
                            </div>
                            <div class="form-group">
                                <label for="exampleMessage">Message Body Text</label>
                                <textarea class="form-control" rows="5" class="form-control" id="exampleMessage" ng-model="msgOpts.body" placeholder="Enter body text"></textarea>
                            </div>
                            <span class="pull-right" ng-show="notify.current.name != 'alert'" style="margin: 0 8px;">
                                <div class="checkbox" ng-class="{ 'inactive-gray': !notify.showResult }">
                                    <label>
                                        <input type="checkbox" ng-model="notify.showResult">
                                        Show Result
                                    </label>
                                </div>
                            </span>
                            <span class="pull-right" ng-show="notify.current.name != 'alert'" style="margin: 0 8px;">
                                <div class="checkbox" ng-class="{ 'inactive-gray': !notify.sameDialog }">
                                    <label>
                                        <input type="checkbox" ng-model="notify.sameDialog">
                                        Recycle Dialog
                                    </label>
                                </div>
                            </span>
                            <button type="submit" class="btn btn-default"
                                    ng-class="{ 'btn-success': notify.isPatched(), 'btn-primary': notify.ready !== null && !notify.isPatched() }"
                                    ng-click="notify.current.action(msgOpts.title, msgOpts.body, msgOpts)">
                                Create Message
                            </button>
                        </div>
                    </form>
                </div>
                <div class="" ng-class="{ 'col-md-3':notify.enabled, 'hide': !notify.enabled }">
                    <div>
                        <h5>
                            Notification Extenders
                        </h5>
                        <form class="thumbnail">
                            <div style="padding: 0 8px;">
                                <div class="checkbox" ng-class="{ 'inactive-gray': !notify.enabled }">
                                    <label>
                                        <input type="checkbox" ng-model="notify.enabled">
                                        Desktop Notifications
                                    </label>
                                </div>
                                <div class="checkbox" ng-class="{ 'inactive-gray': !notify.options.alertify.enabled }">
                                    <label>
                                        <input type="checkbox" ng-checked="notify.options.alertify.enabled" ng-click="notify.hookAlertify()">
                                        <span ng-if="!notify.options.alertify.busy">
                                            Extend with <a target="_blank" href="http://fabien-d.github.io/alertify.js/">AlertifyJS</a>
                                        </span>
                                        <span ng-if="notify.options.alertify.busy">
                                            <i class="fa fa-spinner fa-spin"></i>
                                            <em>Loading third-party scripts...</em>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div ng-show="notify.enabled">
                        <h5>
                            System Notifications Active
                        </h5>
                        <div class="alert alert-success">
                            <b>Note:</b> All notifications get redirected to your OS notification system.
                        </div>
                    </div>

                </div>
            </div>
            <div ng:if="notify.error" class="alert alert-danger">
                <b>Error: </b>
                {{ notify.error.message || 'Something went wrong.' }}
            </div>
        </div>
    </div>
</div>
