<div ng:cloak style="width: 100%">
    <div ng-if="!state.showRaw" class="results" ng-init="detect()">
        <div class="icon pull-left left">
            <i class="glyphicon glyphicon-globe"></i>
            <i class="sub-icon glyphicon" ng-class="getStatusColor()"></i>
        </div>
        <div class="info pull-left">
            <div>
                <div class="pull-right">
                    <a class="ctrl-sm" ng-click="state.editMode = true" href=""><i class="glyphicon glyphicon-pencil"></i></a>
                </div>
                <h4 ng-if="!state.editMode"><a href="{{ state.location }}">{{ state.location }}</a></h4>
            </div>
            <div ng-if="!state.editMode">
                <div ng-if="state.location">
                    <p class="info-row">
                        <div class="info-col-primary pull-left">
                            Protocol: <span class="btn-group btn-group-xs" role="group" aria-label="...">
                                <button type="button" ng-disabled="state.requireHttps" class="btn btn-default" ng-click="setProtocol('http')" ng-class="state.requireHttps ? 'disabled' : getProtocolStyle('http', 'btn-warning')">
                                    <i class="glyphicon" ng-class="getStatusIcon('glyphicon-eye-open')" ng-if="state.location.indexOf('http://') == 0"></i> HTTP
                                </button>
                                <button type="button" class="btn btn-default" ng-click="setProtocol('https')" ng-class="getProtocolStyle('https')">
                                    <i class="glyphicon" ng-class="getStatusIcon('glyphicon-eye-close')" ng-if="state.location.indexOf('https://') == 0"></i> HTTPS
                                </button>
                                <!--
                                <button type="button" class="btn btn-default" ng-click="setProtocol('ftp')" ng-class="getProtocolStyle('ftp', 'btn-info')">
                                    <i class="glyphicon" ng-class="getStatusIcon('glyphicon-file')" ng-if="state.location.indexOf('ftp://') == 0"></i> FTP
                                </button>
                                -->
                            </span>
                        </div>
                        <div class="info-col-secondary pull-right">
                            <span class="btn-group btn-group-xs" role="group">
                                <a ng-if="result.info" class="btn btn-default" href=""
                                   ng-click="state.activeTab = (state.activeTab == 'result') ? null : 'result'"
                                   ng-class="{'btn-info':(state.activeTab == 'result'), 'btn-default':(state.activeTab != 'result')}">
                                    <i class="glyphicon glyphicon-file"></i> View Result
                                </a>
                                <a ng-if="state.location" class="btn" href=""
                                   ng-click="state.activeTab = (state.activeTab == 'preview') ? null : 'preview'"
                                   ng-class="{'btn-info':(state.activeTab == 'preview'), 'btn-default':(state.activeTab != 'preview')}">
                                    <i class="glyphicon" ng-class="{'glyphicon-eye-close':state.showPreview, 'glyphicon-eye-open':!state.showPreview}"></i> {{ state.showPreview ? 'Hide' : 'Show' }} Preview
                                </a>
                            </span>
                        </div>
                        <br class="clearfix" />
                    </p>
                    <p class="info-row">
                        <div class="info-col-primary pull-left" ng-if="result">
                            <div class="info-col-ellipse">
                                Latency: {{ result.received - result.sent }}ms
                                <span ng-if="latency.desc" ng-class="latency.style">
                                    (<em>{{ latency.desc }}</em>)
                                </span>
                            </div>
                        </div>
                        <div class="info-col-primary pull-left" ng-if="!result"><em>Checking...</em></div>
                        <div class="info-col-secondary pull-right">
                            <span ng-if="status.code >= 0" class="pull-right label" ng-class="status.style" title="Status: {{ status.desc }}, Code: {{ status.code }}">{{ status.desc }}: {{ status.code }}</span>
                        </div>
                        <br class="clearfix" />
                    </p>
                </div>
                <div ng-if="result != null">
                    <p>
                        <div class="alert alert-warning" ng-if="result.valid && state.protocol == 'http'">
                            <i class="glyphicon glyphicon-eye-open"></i> <b>Warning:</b> The web connection <b class="text-danger">is not secure</b>, use <a href="" ng-click="setProtocol('https')">HTTPS</a>.
                        </div>
                        <div class="alert alert-success" ng-if="result.valid && state.protocol == 'https'">
                            <i class="glyphicon glyphicon-ok"></i> <b>Validated:</b> The web connection looks secure.
                        </div>
                        <div class="alert alert-danger" ng-if="!result.valid && result.error && result.error != 'error'">
                            <i class="glyphicon glyphicon-exclamation-sign"></i> <b>Failed:</b> {{ result.error }}
                        </div>
                        <div class="alert alert-danger" ng-if="!result.valid && !(result.error && result.error != 'error')">
                            <i class="glyphicon glyphicon-exclamation-sign"></i> <b>Offline:</b> Connection could not be established.
                        </div>
                    </p>
                </div>
            </div>
            <form class="" ng-if="state.editMode">
                <div class="form-group">
                    <h4 class="control-label" for="txtTarget">Enter the website URL to connect to:</h4>
                    <input type="text" class="form-control" id="txtTarget" ng-model="state.location">
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="state.requireHttps"> Require secure connection
                        </label>
                    </div>
                    <div class="checkbox" ng-class="'disabled text-muted'" ng-if="state.requireHttps">
                        <label>
                            <input type="checkbox" ng-model="state.requireCert" ng-disabled="true"> Requires Client Certificate
                        </label>
                    </div>
                </div>
                <div class="form-group" ng-show="state.requireCert">
                    <label for="exampleInputFile">Select Client Certificate:</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">This must be a valid client certificate.</p>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="submitForm()">Update</button>
            </form>
        </div>
    </div>
    <div ng-if="state.activeTab == 'preview'" class="panel panel-default">
        <div class="panel-heading">
            <b class="panel-title">
                <i class="glyphicon glyphicon-globe"></i>
                <a target="_blank" href="{{ state.location }}">{{ state.location }}</a>
            </b>
        </div>
        <div class="panel-body info-row iframe-body" style="min-height: 480px;">
            <iframe class="info-col-primary" ng-src="{{ state.location }}" frameborder="0">IFrame not available</iframe>
        </div>
    </div>
    <div ng-if="state.activeTab == 'result'" class="source">
        <span class="pull-right">
            <a class="btn btn-sm btn-primary" ng-click="state.activeTab = null">Close</a>
        </span>
        <samp><pre>{{ result.info }}</pre></samp>
    </div>
</div>
<style>
    .results {
        min-width: 480px;
        display: flex;
    }

        .results .icon {
            margin: 0 8px;
            font-size: 128px;
            width: 128px !important;
            height: 128px !important;
            position: relative;
            flex-grow: 0;
            flex-shrink: 0;
        }

            .results .icon .sub-icon {
                font-size: 64px !important;
                width: 64px !important;
                height: 64px !important;
                position: absolute;
                right: 0;
                top: 0;
                margin-top: 100px;
            }

                .results .icon .sub-icon.success {
                    color: #080;
                }

                .results .icon .sub-icon.error {
                    color: #D00;
                }

                .results .icon .sub-icon.warning {
                    color: #0094ff;
                }

                .results .icon .sub-icon.busy {
                    color: #0094ff;
                }

        .results .info {
            margin: 0 16px;
            min-height: 128px;
            min-width: 300px;
            display: inline-block;
            flex-grow: 1;
            flex-shrink: 1;
        }

            .results .info h4 {
                text-wrap: avoid;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

                .results .info h4 a {
                    color: black;
                }

            .results .info .ctrl-sm {
                font-size: larger;
                margin-left: 8px;
                color: black;
            }

    .info-row {
        display: flex;
    }

    .info-row-links {
        color: silver;
    }

        .info-row-links a {
            color: #4a4a4a;
            margin-left: 8px;
        }

            .info-row-links a:hover {
                color: #000000;
            }

    .info-col-primary {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .info-col-secondary {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .iframe-body {
        margin: 0;
        padding: 0;
    }

        .iframe-body iframe {
            margin: 0;
            padding: 0;
        }
</style>