<div id="about-info" class="container">
    <div class="row">
        <div class="col-lg-8 col-md-12 info-overview">
            <h4>
                About
                <small> your current status and application architecture</small>
            </h4>
            <hr />
            <div class="row">
                <div class="col-md-3 panel-left">
                    <h5>
                        <i class="fa fa-gear"></i>
                        My Client <small>
                            <span ng-if="true" class="ng-cloak">
                                <b app:version ng-class="{ 'text-success glow-green': appInfo.version }">loading...</b>
                            </span>
                            <span ng-if="false"><b class="text-danger glow-red"><i class="glyphicon glyphicon-remove"></i> Offline</b></span>
                        </small>
                    </h5>
                    <div ng:if="true">
                        <a class="panel-icon-lg img-terminal">

                            <div ng:if="info.about.browser.name == 'Chrome'" class="panel-icon-inner img-chrome"></div>
                            <div ng:if="info.about.browser.name == 'Chromium'" class="panel-icon-inner img-chromium"></div>
                            <div ng:if="info.about.browser.name == 'Firefox'" class="panel-icon-inner img-firefox"></div>
                            <div ng:if="info.about.browser.name == 'Internet Explorer'" class="panel-icon-inner img-iexplore"></div>
                            <div ng:if="info.about.browser.name == 'Opera'" class="panel-icon-inner img-opera"></div>
                            <div ng:if="info.about.browser.name == 'Safari'" class="panel-icon-inner img-safari"></div>
                            <div ng:if="info.about.browser.name == 'SeaMonkey'" class="panel-icon-inner img-seamonkey"></div>
                            <div ng:if="info.about.browser.name == 'Spartan'" class="panel-icon-inner img-spartan"></div>

                            <div ng:if="info.about.os.name == 'Windows'" class="panel-icon-overlay img-windows"></div>
                            <div ng:if="info.about.os.name == 'MacOS'" class="panel-icon-overlay img-mac-os"></div>
                            <div ng:if="info.about.os.name == 'Apple'" class="panel-icon-overlay img-apple"></div>
                            <div ng:if="info.about.os.name == 'UNIX'" class="panel-icon-overlay img-unix"></div>
                            <div ng:if="info.about.os.name == 'Linux'" class="panel-icon-overlay img-linux"></div>

                        </a>
                        <p class="panel-label" title="{{ info.about.os.name }} @ {{ info.about.os.version.alias }}">
                            Host System:
                            <b ng:if="info.about.os.name">{{ info.about.os.name }}</b>
                            <em ng:if="!info.about.os.name">checking...</em>
                            <span ng:if="info.about.os.version.alias">@ {{ info.about.os.version.alias }}</span>
                        </p>
                        <p class="panel-label" title="{{ info.about.browser.name }} @ {{ info.about.browser.version.major }}.{{ info.about.browser.version.minor }}{{ info.about.browser.version.build ? '.' + info.about.browser.version.build : '' }}">
                            User Agent:
                            <b ng:if="info.about.browser.name">{{ info.about.browser.name }}</b>
                            <em ng:if="!info.about.browser.name">detecting...</em>
                            <span ng:if="info.about.browser.version">@ {{ info.about.browser.version.major }}.{{ info.about.browser.version.minor }}{{ info.about.browser.version.build ? '.' + info.about.browser.version.build : '' }}</span>
                        </p>
                    </div>
                    <div ng-switch="info.about.hdd.type" class="panel-icon-lg">
                        <a ng-switch-default class="panel-icon-lg inactive-gray img-drive"></a>
                        <a ng-switch-when="true" class="panel-icon-lg img-drive-default"></a>
                        <a ng-switch-when="onl" class="panel-icon-lg img-drive-onl"></a>
                        <a ng-switch-when="usb" class="panel-icon-lg img-drive-usb"></a>
                        <a ng-switch-when="ssd" class="panel-icon-lg img-drive-ssd"></a>
                        <a ng-switch-when="web" class="panel-icon-lg img-drive-web"></a>
                        <a ng-switch-when="mac" class="panel-icon-lg img-drive-mac"></a>
                        <a ng-switch-when="warn" class="panel-icon-lg img-drive-warn"></a>
                        <a ng-switch-when="hist" class="panel-icon-lg img-drive-hist"></a>
                        <a ng-switch-when="wifi" class="panel-icon-lg img-drive-wifi"></a>

                        <div ng:if="info.about.webdb.active" class="panel-icon-inset-bl img-webdb"></div>
                    </div>
                    <p ng:if="info.about.webdb.active" class="panel-label ellipsis">
                        Local databsse is <b class="glow-green">Online</b>
                    </p>
                    <p ng:if="!info.about.webdb.active" class="panel-label text-muted ellipsis">
                        <em>No local storage found</em>
                    </p>
                    <p ng:if="!info.about.webdb.active" class="panel-label text-muted">
                        <div class="progress" ng-style="{ height: '10px' }" title="{{(100 * progA) + '%'}} ( {{info.about.webdb.used}} / {{info.about.webdb.size}} )">
                            <div ng:init="progA = (info.about.webdb.size > 0) ? (info.about.webdb.used||0)/info.about.webdb.size : 0"
                                 class="progress-bar" ng-class="'progress-bar-info'"
                                 role="progressbar" aria-valuenow="{{ progA }}" aria-valuemin="0" aria-valuemax="100"
                                 ng-style="{width: (100 * progA) + '%'}" aria-valuetext="{{ (100.0 * progA) + ' %' }}%">
                            </div>
                        </div>
                    </p>
                </div>
                <div ng-init="tabOverviewMain = 0" ng-switch="tabOverviewMain" class="col-md-6 panel-mid">
                    <h5>
                        <span ng-if="info.about.server.active == undefined">Checking...</span>
                        <span ng-if="info.about.server.active != undefined">Current Status</span>
                        <small>
                            <span ng-if="!info.about.server">
                                <em class="text-muted">checking...</em>
                            </span>
                            <span ng-if="info.about.server.active === false">
                                <b class="text-danger glow-red">Offline</b>, faulty or disconnected.
                            </span>
                            <span ng-if="info.about.server.active && appNode.active">
                                Connected via <b class="text-warning glow-orange">web client</b>.
                            </span>
                            <span ng-if="info.about.server.active && !appNode.active">
                                <b class="text-success glow-green">Online</b> and fully operational.
                            </span>
                        </small>
                    </h5>
                    <p class="ellipsis" ng:if="info.about.server.url">
                        Server Url: <a target="_blank" ng-class="{ 'glow-green':appNode.active || info.about.protocol == 'https', 'glow-blue':!appNode.active && info.about.protocol == 'http', 'glow-red':info.about.protocol == 'file' }" ng-href="{{ info.about.server.url }}">{{ info.about.server.url }}</a>
                    </p>
                    <p>
                        <a href="" ng-click="tabOverviewMain = 0">Summary</a> |
                        <a href="" ng-click="tabOverviewMain = 1">Details</a>
                    </p>
                    <div>
                        <div ng-switch-default>
                            <em>Loading...</em>
                        </div>
                        <div ng-switch-when="0">
                            <p>
                                ...
                            </p>
                        </div>
                        <div ng-switch-when="1">
                            <pre>OS: {{ info.about.os }}</pre>
                            <pre>Browser: {{ info.about.browser }}</pre>
                            <pre>Server: {{ info.about.server }}</pre>
                            <pre>WebDB: {{ info.about.webdb }}</pre>
                            <pre>HDD: {{ info.about.hdd }}</pre>
                        </div>
                        <div ng-switch-when="2">
                            <p class="glow-orange" to-html="[ info.about.hdd, info.about.webdb ]"></p>
                            <p class="glow-blue">toXml:'pre' - {{ [ info.about.hdd, info.about.webdb ] | toXml:'pre'  }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 panel-right">
                    <h5>
                        <i class="fa fa-gear"></i>
                        Web Server <small>
                            <span class="ng-cloak">
                                <b ng-class="{ 'text-success glow-green': info.about.server.active, 'text-danger glow-red': info.about.server.active == false }" app:version="server" default-text="{{ info.about.server.active ? (info.about.server.active ? 'Online' : 'Offline') : 'n.a.' }}">requesting...</b>
                            </span>
                        </small>
                    </h5>
                    <div ng:if="info.about.server.local">
                        <a class="panel-icon-lg img-server-local"></a>
                    </div>
                    <div ng:if="!info.about.server.local" ng-class="{ 'inactive-gray': true || info.versions.jqry }">
                        <a class="panel-icon-lg img-server">

                            <div ng:if="info.about.server.type == 'iis'" class="panel-icon-inset img-iis"></div>
                            <div ng:if="info.about.server.type == 'node'" class="panel-icon-inset img-node"></div>
                            <div ng:if="info.about.server.type == 'apache'" class="panel-icon-inset img-apache"></div>

                            <div ng:if="info.about.server.name == 'Windows'" class="panel-icon-overlay img-windows"></div>
                            <div ng:if="info.about.server.name == 'MacOS'" class="panel-icon-overlay img-mac-os"></div>
                            <div ng:if="info.about.server.name == 'Apple'" class="panel-icon-overlay img-apple"></div>
                            <div ng:if="info.about.server.name == 'UNIX'" class="panel-icon-overlay img-unix"></div>
                            <div ng:if="info.about.server.name == 'Linux'" class="panel-icon-overlay img-linux"></div>
                        </a>
                        <div ng:if="info.about.sql" class="panel-icon-lg img-sqldb"></div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
        <div class="col-lg-4 hidden-md" ng:init="info.showUnavailable = false">
            <h4>
                Inspirations
                <small> come from great ideas</small>
            </h4>
            <hr />
            <div class="app-info-aside animate-show"
                 ng:class="{ 'info-disabled': !info.versions.ng }"
                 ng:hide="!info.showUnavailable && !info.versions.ng">
                <a class="app-info-icon" target="_blank" href="https://angularjs.org/">
                    <div ng:if="true" class="img-clipper img-angular"></div>
                </a>
                <div class="app-info-info">
                    <h5>
                        Angular JS <small>
                            <span ng:if="info.versions.ng">@ v{{info.versions.ng}}</span>
                            <span ng:if="!info.versions.ng"><em>not found</em></span>
                        </small>
                    </h5>
                    <p ng:if="!info.versions.ng" class="text-muted">
                        <i class="glyphicon glyphicon-info-sign glow-blue"></i> Check out <a target="_blank" href="https://angularjs.org//">angularjs.org</a> for more info.
                    </p>
                    <p ng:if="info.detects.ngUiUtils" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> Angular UI Utils found.
                    </p>
                    <p ng:if="info.detects.ngUiRouter" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> Angular UI Router found.
                    </p>
                    <p ng:if="info.detects.ngUiBootstrap" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> Angular UI Bootrap found.
                    </p>
                    <p ng:if="info.detects.ngAnimate" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> Angular Animations active.
                    </p>
                </div>
            </div>
            <div class="app-info-aside animate-show"
                 ng:class="{ 'info-disabled': !info.versions.nw }"
                 ng:hide="!info.showUnavailable && !info.versions.nw">
                <a class="app-info-icon" target="_blank" href="http://nwjs.io/">
                    <div ng:if="true" class="img-clipper img-nodewebkit"></div>
                </a>
                <div class="app-info-info">
                    <h5>
                        Node Webkit <small>
                            <span ng:if="info.versions.nw">@ v{{info.versions.nw}}</span>
                            <span ng:if="!info.versions.nw"><em>not available</em></span>
                        </small>
                    </h5>
                    <p ng:if="!info.versions.nw" class="text-muted">
                        <i class="glyphicon glyphicon-info-sign glow-blue"></i> Check out <a target="_blank" href="http://nwjs.io/">nwjs.io</a> for more info.
                    </p>
                    <p ng:if="info.versions.nw" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> You are connected to node webkit.
                    </p>
                    <p ng:if="info.versions.chromium" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> You are running Chromium @ {{ info.versions.chromium }}.
                    </p>
                </div>
            </div>
            <div class="app-info-aside animate-show"
                 ng:class="{ 'info-disabled': !info.versions.njs }"
                 ng:hide="!info.showUnavailable && !info.versions.njs">
                <a class="app-info-icon" target="_blank" href="http://www.nodejs.org">
                    <div ng:if="true" class="img-clipper img-nodejs"></div>
                </a>
                <div class="app-info-info">
                    <h5>
                        Node JS <small>
                            <span ng:if="info.versions.njs">@ v{{info.versions.njs}}</span>
                            <span ng:if="!info.versions.njs"><em>not available</em></span>
                        </small>
                    </h5>
                    <p ng:if="!info.versions.njs" class="text-muted">
                        <i class="glyphicon glyphicon-info-sign glow-blue"></i> Check out <a target="_blank" href="http://www.nodejs.org">NodeJS.org</a> for more info.
                    </p>
                    <p ng:if="info.versions.njs" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> You are inside a node js runtime.
                    </p>
                    <p ng:if="info.versions.v8" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> You are running V8 @ {{ info.versions.v8 }}.
                    </p>
                    <p ng:if="info.versions.openssl" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> You are running OpenSSL @ {{ info.versions.openssl }}.
                    </p>
                </div>
            </div>
            <div class="app-aside-collapser centered" ng-if="!appNode.active">
                <a href="" ng:show="!info.showUnavailable" ng-click="info.showUnavailable = !info.showUnavailable">
                    Show More
                </a>
                <a href="" ng:show="info.showUnavailable" ng-click="info.showUnavailable = !info.showUnavailable">
                    Hide Inactive
                </a>
            </div>
            <hr />
            <div class="app-info-aside" ng-class="{ 'info-disabled': !info.versions.html }">
                <div class="app-info-icon">
                    <div ng:if="info.about.browser.name != 'Internet Explorer'" class="img-clipper img-html5"></div>
                    <div ng:if="info.about.browser.name == 'Internet Explorer'" class="img-clipper img-html5-ie"></div>
                </div>
                <div class="app-info-info">
                    <h5>
                        HTML Rendering Mode <small>
                            <span ng-if="info.versions.html">@ v{{ info.versions.html }}</span>
                            <span ng-if="!info.versions.html"><em>unknown</em></span>
                        </small>
                    </h5>
                    <p ng:if="info.versions.html >= '5.0'" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> You are running a modern browser.
                    </p>
                    <p ng:if="info.versions.html < '5.0'" class="text-warning">
                        <i class="glyphicon glyphicon-warning-sign glow-orange"></i> Your browser is out of date. Try upgrading.
                    </p>
                </div>
            </div>
            <div class="app-info-aside" ng-class="{ 'info-disabled': !info.versions.js }">
                <div class="app-info-icon">
                    <div ng:if="!info.versions.v8" class="img-clipper img-js-default"></div>
                    <div ng:if="info.versions.v8" class="img-clipper img-js-v8"></div>
                </div>
                <div class="app-info-info">
                    <h5>
                        Javascript Engine<small>
                            <span ng:if="info.versions.js">@ v{{ info.versions.js  }}</span>
                            <span ng:if="!info.versions.js"><em>not found</em></span>
                        </small>
                    </h5>
                    <p ng:if="info.versions.js >= '5.0'" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> You have a modern javascript engine.
                    </p>
                    <p ng:if="info.versions.js < '5.0'" class="text-warning">
                        <i class="glyphicon glyphicon-warning-sign glow-orange"></i> Javascript is out of date or unavailable.
                    </p>
                    <p ng:if="info.versions.v8" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> Javascript V8 engine, build v{{info.versions.v8}}.
                    </p>
                </div>
            </div>
            <div class="app-info-aside" ng-class="{ 'info-disabled': !info.versions.css }">
                <div class="app-info-icon">
                    <div ng:if="true" class="img-clipper img-css3"></div>
                </div>
                <div class="app-info-info">
                    <h5>
                        Cascading Styles <small>
                            <span ng:if="info.versions.css">@ v{{ info.versions.css }}</span>
                            <span ng:if="!info.versions.css"><em class="text-muted">not found</em></span>
                        </small>
                    </h5>
                    <p ng:if="info.versions.css >= '3.0'" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i>
                        <span>You have an up-to-date style engine.</span>
                    </p>
                    <p ng:if="info.versions.css < '3.0'" class="text-warning">
                        <i class="glyphicon glyphicon-warning-sign glow-orange"></i>
                        <span>CSS out of date. Styling might be broken.</span>
                    </p>
                    <p ng:if="info.css.boostrap2" class="text-warning">
                        <i class="glyphicon glyphicon-warning-sign glow-orange"></i>
                        <span>Bootstrap 2 is depricated. Upgrade to 3.x.</span>
                    </p>
                    <p ng:if="info.css.boostrap3" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i>
                        <span>Bootstrap and/or UI componets found.</span>
                    </p>
                    <p ng:if="info.detects.less" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i>
                        <span>Support for LESS has been detected.</span>
                    </p>
                    <p ng:if="info.detects.bootstrap" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> Bootstrap and/or UI Componets found.
                    </p>
                </div>
            </div>
            <div class="app-info-aside" ng-class="{ 'info-disabled': !info.versions.jqry }">
                <div class="app-info-icon">
                    <div ng:if="true" class="img-clipper img-jquery"></div>
                </div>
                <div class="app-info-info">
                    <h5>
                        jQuery <small>
                            <span ng:if="info.versions.jqry">@ v{{ info.versions.jqry }}</span>
                            <span ng:if="!info.versions.jqry"><em>not found</em></span>
                        </small>
                    </h5>
                    <p ng:if="info.versions.jqry" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> jQuery or jqLite is loaded.
                    </p>
                    <p ng:if="info.versions.jqry < '1.10'" class="text-danger">
                        <i class="glyphicon glyphicon-warning-sign glow-orange"></i> jQuery is out of date!
                    </p>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>