@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css';
/*
    Standard Bootstrap Themes:
    - http://bootswatch.com/
    
    Free Online Bootstrap Themes:    
     - @import 'https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.2/yeti/bootstrap.css';
     - @import 'http://ironsummitmedia.github.io/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css';
*/
#myLoader {
  padding: 6px;
  left: 0;
  right: 0;
  bottom: 16px;
  position: fixed;
  background-color: rgba(220, 220, 220, 0.85);
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  z-index: 1400;
}
#myLoader .progress {
  height: 8px;
  margin: 0;
  padding: 0;
}
#myLoader .progress-bar {
  margin: 0;
  padding: 0;
  transition: width 1s ease-in-out;
}
body .glow-green {
  color: #00b500;
  text-shadow: 0 0 2px #00b500;
}
body .glow-red {
  color: #D00;
  text-shadow: 0 0 2px #D00;
}
body .glow-orange {
  color: #ff8d00;
  text-shadow: 0 0 2px #ff8d00;
}
body .glow-blue {
  color: #0094ff;
  text-shadow: 0 0 2px #0094ff;
}
body .results {
  min-width: 480px;
  display: flex;
}
body .results .icon {
  margin: 0 8px;
  font-size: 128px;
  width: 128px !important;
  height: 128px !important;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}
body .results .icon .sub-icon {
  font-size: 64px !important;
  width: 64px !important;
  height: 64px !important;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 100px;
}
body .results .info {
  margin: 0 16px;
  min-height: 128px;
  min-width: 300px;
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;
}
body .results .info h4 {
  text-wrap: avoid;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body .results .info h4 a {
  color: black;
}
body .info-row {
  display: flex;
}
body .info-row-links {
  color: silver;
}
body .info-row-links a {
  color: #4a4a4a;
  margin-left: 8px;
}
body .info-row-links a:hover {
  color: #000000;
}
body .info-col-primary {
  flex-grow: 1;
  flex-shrink: 1;
}
body .info-col-secondary {
  flex-grow: 0;
  flex-shrink: 0;
}
body .info-overview {
  vertical-align: top;
}
body .info-overview .panel-mid {
  text-align: center;
}
body .app-info-aside {
  display: flex;
  margin-bottom: 12px;
}
body .app-info-aside .app-info-icon {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 64px;
  vertical-align: top;
}
body .app-info-aside .app-info-icon .clip-img {
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 3px auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: auto 48px;
  background-position: top center;
}
body .app-info-aside .app-info-info {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  vertical-align: top;
}
body .app-info-aside .app-info-info h5 {
  margin: 0;
  padding: 3px;
  border-bottom: solid 1px #f2f2f2;
  font-weight: bolder;
}
body .app-info-aside .app-info-info p {
  margin: 0;
  padding: 3px;
  color: #6d6d6d;
}
body .app-info-aside.info-disabled .app-info-icon {
  opacity: 0.75;
  -webkit-filter: grayscale(100%) opacity(0.5);
  -moz-filter: grayscale(100%) opacity(0.5);
  -o-filter: grayscale(100%) opacity(0.5);
  filter: grayscale(100%) opacity(0.5);
}
body .appp-aside-collapser a {
  padding: 0;
  margin: 0;
  color: silver;
  display: block;
  text-align: center;
  text-decoration: none;
}
body .appp-aside-collapser a:hover {
  color: #808080;
}
body .iframe-body {
  margin: 0;
  padding: 0;
}
body .iframe-body iframe {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=styles.css.map */