<ul class="list-group">
    <li class="list-group-item" ui:sref-active="active">
        <a ui:sref="proto.explore">
            <i class="fa fa-info-circle"></i>&nbsp; Site Explorer
        </a>
    </li>
    <li class="list-group-item" style="padding: 6px 0"
        ng-if="navigation.getTreeData()">
        <abn:tree tree-data="navigation.getTreeData()"
                  icon-leaf="fa fa-cog"
                  icon-expand="fa fa-plus"
                  icon-collapse="fa fa-minus"
                  expand-level="2">
        </abn:tree>
    </li>
    <!-- 
    <li class="list-group-item" ui:sref-active="active">
        <a ui:sref="proto.browser">
            <i class="fa fa-cogs"></i>&nbsp; Browser
        </a>
    </li>
    -->
</ul>
