<div ng:cloak style="width: 100%">
    <!-- Ensure styles are loaded -->
    <style resx:import="assets/css/images.min.css"></style>
    <style>
        .results {
            display: block;
            width: 100%;
        }

            .results .icon {
                margin: 0 8px;
                font-size: 128px;
                width: 128px !important;
                height: 128px !important;
                position: relative;
                flex-grow: 0;
                flex-shrink: 0;
            }

                .results .icon .sub-icon {
                    font-size: 64px !important;
                    width: 64px !important;
                    height: 64px !important;
                    position: absolute;
                    right: 0;
                    top: 0;
                    margin-top: 100px;
                }

                    .results .icon .sub-icon.success {
                        color: #080;
                    }

                    .results .icon .sub-icon.error {
                        color: #D00;
                    }

                    .results .icon .sub-icon.warning {
                        color: #0094ff;
                    }

                    .results .icon .sub-icon.busy {
                        color: #0094ff;
                    }

            .results h4 {
                text-wrap: avoid;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

                .results h4 a {
                    color: black;
                }

            .results .ctrl-sm {
                font-size: larger;
                margin-left: 8px;
                color: black;
            }

        .info-row {
            display: flex;
        }

        .info-row-links {
            color: silver;
        }

            .info-row-links a {
                color: #4a4a4a;
                margin-left: 8px;
            }

                .info-row-links a:hover {
                    color: #000000;
                }

        .info-col-primary {
            flex-grow: 1;
            flex-shrink: 1;
        }

        .info-col-secondary {
            flex-grow: 0;
            flex-shrink: 0;
        }

        .iframe-body {
            margin: 0;
            padding: 0;
        }

            .iframe-body iframe {
                margin: 0;
                padding: 0;
            }

        .tree-item a {
            color: #4a4a4a !important;
        }

        .tree-item.online a .fa {
            color: #00b500 !important;
            text-shadow: 0 0 2px #00b500;
        }

        .tree-item.offline a .fa {
            color: #D00 !important;
            text-shadow: 0 0 2px #D00;
        }

        .tree-item.warning a .fa {
            color: #ff8d00 !important;
            text-shadow: 0 0 2px #ff8d00;
        }

        .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
            background-color: #d8e1e8!important;
            border-color: #337ab7!important;
        }
    </style>
    <div class="info-overview results">
        <div class="row" style="width: 100%;">
            <div class="col-md-2">
                <h5>
                    <i class="fa fa-gear"></i>
                    My Client <small>
                        <span ng-if="true" class="ng-cloak">
                            <b app:version ng-class="{ 'text-success glow-green': appInfo.version }">loading...</b>
                        </span>
                        <span ng-if="false"><b class="text-danger glow-red"><i class="glyphicon glyphicon-remove"></i> Offline</b></span>
                    </small>
                </h5>
                <div ng:if="true">
                    <a class="panel-icon-lg img-terminal">
                        <div ng:if="info.about.browser.name == 'Chrome'" class="panel-icon-inner img-chrome"></div>
                        <div ng:if="info.about.browser.name == 'Chromium'" class="panel-icon-inner img-chromium"></div>
                        <div ng:if="info.about.browser.name == 'Firefox'" class="panel-icon-inner img-firefox"></div>
                        <div ng:if="info.about.browser.name == 'Internet Explorer'" class="panel-icon-inner img-iexplore"></div>
                        <div ng:if="info.about.browser.name == 'Opera'" class="panel-icon-inner img-opera"></div>
                        <div ng:if="info.about.browser.name == 'Safari'" class="panel-icon-inner img-safari"></div>
                        <div ng:if="info.about.browser.name == 'SeaMonkey'" class="panel-icon-inner img-seamonkey"></div>
                        <div ng:if="info.about.browser.name == 'Spartan'" class="panel-icon-inner img-spartan"></div>
                        <div ng:if="info.about.os.name == 'Windows'" class="panel-icon-overlay img-windows"></div>
                        <div ng:if="info.about.os.name == 'MacOS'" class="panel-icon-overlay img-mac-os"></div>
                        <div ng:if="info.about.os.name == 'Apple'" class="panel-icon-overlay img-apple"></div>
                        <div ng:if="info.about.os.name == 'UNIX'" class="panel-icon-overlay img-unix"></div>
                        <div ng:if="info.about.os.name == 'Linux'" class="panel-icon-overlay img-linux"></div>
                        <div ng:if="info.about.os.name == 'Ubuntu'" class="panel-icon-overlay img-ubuntu"></div>
                    </a>
                    <p class="panel-label" title="{{ info.about.os.name }} @ {{ info.about.os.version.alias }}">
                        Host System:
                        <b ng:if="info.about.os.name">{{ info.about.os.name }}</b>
                        <em ng:if="!info.about.os.name">checking...</em>
                        <span ng:if="info.about.os.version.alias">@ {{ info.about.os.version.alias }}</span>
                    </p>
                    <p class="panel-label" title="{{ info.about.browser.name }} @ {{ info.about.browser.version.major }}.{{ info.about.browser.version.minor }}{{ info.about.browser.version.build ? '.' + info.about.browser.version.build : '' }}">
                        User Agent:
                        <b ng:if="info.about.browser.name">{{ info.about.browser.name }}</b>
                        <em ng:if="!info.about.browser.name">detecting...</em>
                        <span ng:if="info.about.browser.version">@ {{ info.about.browser.version.major }}.{{ info.about.browser.version.minor }}{{ info.about.browser.version.build ? '.' + info.about.browser.version.build : '' }}</span>
                    </p>
                </div>
                <div ng-switch="info.about.hdd.type" class="panel-icon-lg">
                    <a ng-switch-default class="panel-icon-lg inactive-gray img-drive"></a>
                    <a ng-switch-when="true" class="panel-icon-lg img-drive-default"></a>
                    <a ng-switch-when="onl" class="panel-icon-lg img-drive-onl"></a>
                    <a ng-switch-when="usb" class="panel-icon-lg img-drive-usb"></a>
                    <a ng-switch-when="ssd" class="panel-icon-lg img-drive-ssd"></a>
                    <a ng-switch-when="web" class="panel-icon-lg img-drive-web"></a>
                    <a ng-switch-when="mac" class="panel-icon-lg img-drive-mac"></a>
                    <a ng-switch-when="warn" class="panel-icon-lg img-drive-warn"></a>
                    <a ng-switch-when="hist" class="panel-icon-lg img-drive-hist"></a>
                    <a ng-switch-when="wifi" class="panel-icon-lg img-drive-wifi"></a>
                    <div ng:if="info.about.webdb.active" class="panel-icon-inset-bl img-webdb"></div>
                </div>
                <p ng:if="info.about.webdb.active" class="panel-label ellipsis">
                    Local databsse is <b class="glow-green">Online</b>
                </p>
                <p ng:if="!info.about.webdb.active" class="panel-label text-muted ellipsis">
                    <em>No local storage found</em>
                </p>
                <p ng:if="!info.about.webdb.active" class="panel-label text-muted">
                    <div class="progress" ng-style="{ height: '10px' }" title="{{(100 * progA) + '%'}} ( {{info.about.webdb.used}} / {{info.about.webdb.size}} )">
                        <div ng:init="progA = (info.about.webdb.size > 0) ? (info.about.webdb.used||0)/info.about.webdb.size : 0"
                             class="progress-bar" ng-class="'progress-bar-info'"
                             role="progressbar" aria-valuenow="{{ progA }}" aria-valuemin="0" aria-valuemax="100"
                             ng-style="{width: (100 * progA) + '%'}" aria-valuetext="{{ (100.0 * progA) + ' %' }}%">
                        </div>
                    </div>
                </p>
            </div>
            <div class="col-md-8" ng-init="tabOverviewMain = 0" ng-switch="tabOverviewMain">
                <h5>
                    <i class="fa fa-globe"></i>
                    <span>Connection Details</span>
                    <small class="pull-right">
                        <a class="ctrl-sm" ng-click="connCtrl.state.editMode = true" href=""><i class="glyphicon glyphicon-pencil"></i></a>
                    </small>
                    <small>
                        <span ng-if="!info.about.server">
                            <em class="text-muted">checking...</em>
                        </span>
                        <span ng-if="info.about.server.active === false">
                            <b class="text-danger glow-red">Offline</b>, faulty or disconnected.
                        </span>
                        <span ng-if="info.about.server.active && appState.node.active">
                            Connected via <b class="text-warning glow-orange">web client</b>.
                        </span>
                        <span ng-if="info.about.server.active && !appState.node.active">
                            <b class="text-success glow-green">Online</b> and fully operational.
                        </span>
                    </small>
                </h5>
                <div>
                    <div ng-show="!connCtrl.state.editMode">
                        <div ng-if="connCtrl.state.location">
                            <p class="info-row">
                                <div class="info-col-primary pull-left">
                                    Location: <a target="_blank" ng-href="{{connCtrl.state.location}}">{{ connCtrl.state.location }}</a>
                                    <br class="clearfix" />
                                </div>
                                <div class="info-col-secondary pull-right">

                                </div>
                                <br class="clearfix" />
                            </p>
                            <p class="info-row">
                                <div class="info-col-primary pull-left" ng-if="connCtrl.result">
                                    <div class="info-col-ellipse">
                                        Latency: {{ connCtrl.result.received - connCtrl.result.sent }}ms
                                        <span ng-if="connCtrl.latency.desc" ng-class="connCtrl.latency.style">
                                            (<em>{{ connCtrl.latency.desc }}</em>)
                                        </span>
                                    </div>
                                </div>
                                <div class="info-col-primary pull-left" ng-if="!connCtrl.result"><em>Checking...</em></div>
                                <div class="info-col-secondary pull-right">
                                    <span ng-if="connCtrl.status.code >= 0" class="pull-right label" ng-class="connCtrl.status.style" title="Status: {{ connCtrl.status.desc }}, Code: {{ connCtrl.status.code }}">{{ connCtrl.status.desc }}: {{ connCtrl.status.code }}</span>
                                </div>
                                <br class="clearfix" />
                            </p>
                            <p class="info-row">
                                <div class="info-col-primary pull-left">
                                    Protocol: <span class="btn-group btn-group-xs" role="group" aria-label="...">
                                        <button type="button" ng-disabled="connCtrl.state.requireHttps" class="btn btn-default" ng-click="connCtrl.setProtocol('http')" ng-class="connCtrl.state.requireHttps ? 'disabled' : connCtrl.getProtocolStyle('http', 'btn-warning')">
                                            <i class="glyphicon" ng-class="connCtrl.getStatusIcon('glyphicon-eye-open')" ng-if="connCtrl.state.location.indexOf('http://') == 0"></i> HTTP
                                        </button>
                                        <button type="button" class="btn btn-default" ng-click="connCtrl.setProtocol('https')" ng-class="connCtrl.getProtocolStyle('https')">
                                            <i class="glyphicon" ng-class="connCtrl.getStatusIcon('glyphicon-eye-close')" ng-if="connCtrl.state.location.indexOf('https://') == 0"></i> HTTPS
                                        </button>
                                        <!--
                                        <button type="button" class="btn btn-default" ng-click="connCtrl.setProtocol('ftp')" ng-class="connCtrl.getProtocolStyle('ftp', 'btn-info')">
                                            <i class="glyphicon" ng-class="connCtrl.getStatusIcon('glyphicon-file')" ng-if="connCtrl.state.location.indexOf('ftp://') == 0"></i> FTP
                                        </button>
                                        -->
                                    </span>
                                </div>
                                <div class="info-col-secondary pull-right">
                                    <span class="btn-group btn-group-xs" role="group">
                                        <a ng-if="connCtrl.result.info" class="btn btn-default" href=""
                                           ng-click="connCtrl.state.activeTab = (connCtrl.state.activeTab == 'result') ? null : 'result'"
                                           ng-class="{'btn-info':(connCtrl.state.activeTab == 'result'), 'btn-default':(connCtrl.state.activeTab != 'result')}">
                                            <i class="glyphicon glyphicon-file"></i> View Result
                                        </a>
                                        <a ng-if="connCtrl.state.location" class="btn" href=""
                                           ng-click="connCtrl.state.activeTab = (connCtrl.state.activeTab == 'preview') ? null : 'preview'"
                                           ng-class="{'btn-info':(connCtrl.state.activeTab == 'preview'), 'btn-default':(connCtrl.state.activeTab != 'preview')}">
                                            <i class="glyphicon" ng-class="{'glyphicon-eye-close':connCtrl.state.showPreview, 'glyphicon-eye-open':!connCtrl.state.showPreview}"></i> {{ connCtrl.state.showPreview ? 'Hide' : 'Show' }} Preview
                                        </a>
                                    </span>
                                </div>
                                <br class="clearfix" />
                            </p>
                        </div>
                        <br />
                    </div>
                    <form class="" ng-if="connCtrl.state.editMode">
                        <div class="form-group">
                            <h4 class="control-label" for="txtTarget">Enter the website URL to connect to:</h4>
                            <input type="text" class="form-control" id="txtTarget" ng-model="connCtrl.state.location">
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="connCtrl.state.requireHttps"> Require secure connection
                                </label>
                            </div>
                            <div class="checkbox" ng-class="'disabled text-muted'" ng-if="connCtrl.state.requireHttps">
                                <label>
                                    <input type="checkbox" ng-model="connCtrl.state.requireCert" ng-disabled="true"> Requires Client Certificate
                                </label>
                            </div>
                        </div>
                        <div class="form-group" ng-show="connCtrl.state.requireCert">
                            <label for="exampleInputFile">Select Client Certificate:</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">This must be a valid client certificate.</p>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="connCtrl.submitForm()">Update</button>
                    </form>
                </div>
                <div ng-show="!connCtrl.state.activeTab">
                    <table class="table" width="100%">
                        <thead>
                        <th style="width: auto; overflow-x: hidden;">
                            Description
                        </th>
                        <th style="width: 64px; text-align: right;">
                            Actions
                        </th>
                        <th style="width: 80px; text-align: center;">
                            Status
                        </th>
                        </thead>
                        <tbody>
                            <tr ng-if="!connCtrl.domains">
                                <td colspan="4"><em>Nothing to show yet. Fetch some data first...</em></td>
                            </tr>
                            <tr ng-repeat="domain in connCtrl.domains">
                                <td class="ellipsis">
                                    <abn:tree tree-data="[domain]"
                                              icon-leaf="fa fa-dot-circle-o"
                                              icon-expand="fa fa-globe"
                                              icon-collapse="fa fa-globe"
                                              expand-level="0">
                                    </abn:tree>
                                </td>
                                <td style="text-align: right;">
                                    <a href="" ng-click="domain.refresh()">
                                        <i class="fa fa-refresh inactive-gray"></i>
                                    </a>
                                </td>
                                <td style="width: 80px; text-align: center;">
                                    <div class="label label-default"
                                         ng-class="{ 'label-success':domain.status=='Online', 'label-danger':domain.status=='Offline', 'label-danger':domain.status=='Not Found' }">
                                        {{ domain.status || 'Not Set' }}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="connCtrl.state.activeTab == 'preview'" class="panel panel-default">
                    <div class="panel-heading">
                        <b class="panel-title">
                            <i class="glyphicon glyphicon-globe"></i>
                            <a target="_blank" href="{{ connCtrl.state.location }}">{{ connCtrl.state.location }}</a>
                        </b>
                    </div>
                    <div class="panel-body info-row iframe-body" style="min-height: 480px;">
                        <iframe class="info-col-primary" ng-src="{{ connCtrl.state.location }}" frameborder="0">IFrame not available</iframe>
                    </div>
                </div>
                <div ng-show="connCtrl.state.activeTab == 'result'" class="source">
                    <tabset>
                        <tab heading="Last Result" disabled="!connCtrl.result">
                            <pre>{{ connCtrl.result.info }}</pre>
                        </tab>
                        <tab heading="Browser" disabled="!info.about.browser">
                            <pre>{{ info.about.browser }}</pre>
                        </tab>
                        <tab heading="Server" disabled="!info.about.server">
                            <pre>{{ info.about.server }}</pre>
                        </tab>
                        <tab heading="WebDB" disabled="!info.about.webdb">
                            <pre>{{ info.about.webdb }}</pre>
                        </tab>
                        <tab heading="OS" disabled="!info.about.os">
                            <pre>{{ info.about.os }}</pre>
                        </tab>
                        <tab heading="Storage" disabled="!info.about.hdd">
                            <pre>{{ info.about.hdd }}</pre>
                        </tab>
                    </tabset>
                </div>
            </div>
            <div class="col-md-2">
                <h5>
                    <i class="fa fa-gear"></i>
                    Web Server <small>
                        <span class="ng-cloak">
                            <b ng-class="{ 'text-success glow-green': info.about.server.active, 'text-danger glow-red': info.about.server.active == false }" app:version="server" default-text="{{ info.about.server.active ? (info.about.server.active ? 'Online' : 'Offline') : 'n.a.' }}">requesting...</b>
                        </span>
                    </small>
                </h5>
                <div ng:if="info.about.server.local">
                    <a class="panel-icon-lg img-server-local"></a>
                </div>
                <div ng:if="!info.about.server.local" ng-class="{ 'inactive-gray': true || info.versions.jqry }">
                    <a class="panel-icon-lg img-server">
                        <div ng:if="info.about.server.type == 'iis'" class="panel-icon-inset img-iis"></div>
                        <div ng:if="info.about.server.type == 'node'" class="panel-icon-inset img-node"></div>
                        <div ng:if="info.about.server.type == 'apache'" class="panel-icon-inset img-apache"></div>
                        <div ng:if="info.about.server.name == 'Windows'" class="panel-icon-overlay img-windows"></div>
                        <div ng:if="info.about.server.name == 'MacOS'" class="panel-icon-overlay img-mac-os"></div>
                        <div ng:if="info.about.server.name == 'Apple'" class="panel-icon-overlay img-apple"></div>
                        <div ng:if="info.about.server.name == 'UNIX'" class="panel-icon-overlay img-unix"></div>
                        <div ng:if="info.about.server.name == 'Linux'" class="panel-icon-overlay img-linux"></div>
                    </a>
                    <div ng:if="info.about.sql" class="panel-icon-lg img-sqldb"></div>
                </div>
                <p>
                    <div class="alert alert-warning" ng-if="connCtrl.result.valid && connCtrl.state.protocol == 'http'">
                        <i class="glyphicon glyphicon-eye-open"></i> <b>Warning:</b> <br />The web connection <b class="text-danger">is not secure</b>, use <a href="" ng-click="connCtrl.setProtocol('https')">HTTPS</a>.
                    </div>
                    <div class="alert alert-success" ng-if="connCtrl.result.valid && connCtrl.state.protocol == 'https'">
                        <i class="glyphicon glyphicon-ok"></i> <b>Validated:</b> <br />The web connection looks secure.
                    </div>
                    <div class="alert alert-danger" ng-if="!connCtrl.result.valid && connCtrl.result.error && connCtrl.result.error != 'error'">
                        <i class="glyphicon glyphicon-exclamation-sign"></i> <b>Failed:</b> <br />{{ connCtrl.result.error }}
                    </div>
                    <div class="alert alert-danger" ng-if="!connCtrl.result.valid && !(connCtrl.result.error && connCtrl.result.error != 'error')">
                        <i class="glyphicon glyphicon-exclamation-sign"></i> <b>Offline:</b> <br />Connection could not be established.
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
