<div id="about-info" class="container" style="width: 100%">
    <!-- Ensure styles are loaded -->
    <style resx:import="assets/css/images.min.css"></style>
    <!-- Define the contents -->
    <div class="row">
        <div class="col-lg-8 col-md-12 info-overview">
            <h4>
                About this application
            </h4>
            <hr />
            ...
            <hr />
        </div>
        <div class="col-lg-4 hidden-md" ng:init="info.showUnavailable = false">
            <h4>
                Inspirations
                <small> come from great ideas</small>
            </h4>
            <hr />
            <div class="app-info-aside animate-show"
                 ng:class="{ 'info-disabled': !info.versions.ng }"
                 ng:hide="!info.showUnavailable && !info.versions.ng">
                <a class="app-info-icon" target="_blank" href="https://angularjs.org/">
                    <div ng:if="true" class="img-clipper img-angular"></div>
                </a>
                <div class="app-info-info">
                    <h5>
                        Angular JS <small>
                            <span ng:if="info.versions.ng">@ v{{info.versions.ng}}</span>
                            <span ng:if="!info.versions.ng"><em>not found</em></span>
                        </small>
                    </h5>
                    <p ng:if="!info.versions.ng" class="text-muted">
                        <i class="glyphicon glyphicon-info-sign glow-blue"></i> Check out <a target="_blank" href="https://angularjs.org//">angularjs.org</a> for more info.
                    </p>
                    <p ng:if="info.detects.ngUiUtils" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> Angular UI Utils found.
                    </p>
                    <p ng:if="info.detects.ngUiRouter" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> Angular UI Router found.
                    </p>
                    <p ng:if="info.detects.ngUiBootstrap" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> Angular UI Bootrap found.
                    </p>
                    <p ng:if="info.detects.ngAnimate" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> Angular Animations active.
                    </p>
                </div>
            </div>
            <div class="app-info-aside animate-show"
                 ng:class="{ 'info-disabled': !info.versions.nw }"
                 ng:hide="!info.showUnavailable && !info.versions.nw">
                <a class="app-info-icon" target="_blank" href="http://nwjs.io/">
                    <div ng:if="true" class="img-clipper img-nodewebkit"></div>
                </a>
                <div class="app-info-info">
                    <h5>
                        Node Webkit <small>
                            <span ng:if="info.versions.nw">@ v{{info.versions.nw}}</span>
                            <span ng:if="!info.versions.nw"><em>not available</em></span>
                        </small>
                    </h5>
                    <p ng:if="!info.versions.nw" class="text-muted">
                        <i class="glyphicon glyphicon-info-sign glow-blue"></i> Check out <a target="_blank" href="http://nwjs.io/">nwjs.io</a> for more info.
                    </p>
                    <p ng:if="info.versions.nw" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> You are connected to node webkit.
                    </p>
                    <p ng:if="info.versions.chromium" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> You are running Chromium @ {{ info.versions.chromium }}.
                    </p>
                </div>
            </div>
            <div class="app-info-aside animate-show"
                 ng:class="{ 'info-disabled': !info.versions.njs }"
                 ng:hide="!info.showUnavailable && !info.versions.njs">
                <a class="app-info-icon" target="_blank" href="http://www.nodejs.org">
                    <div ng:if="true" class="img-clipper img-nodejs"></div>
                </a>
                <div class="app-info-info">
                    <h5>
                        Node JS <small>
                            <span ng:if="info.versions.njs">@ v{{info.versions.njs}}</span>
                            <span ng:if="!info.versions.njs"><em>not available</em></span>
                        </small>
                    </h5>
                    <p ng:if="!info.versions.njs" class="text-muted">
                        <i class="glyphicon glyphicon-info-sign glow-blue"></i> Check out <a target="_blank" href="http://www.nodejs.org">NodeJS.org</a> for more info.
                    </p>
                    <p ng:if="info.versions.njs" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> You are inside a node js runtime.
                    </p>
                    <p ng:if="info.versions.v8" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> You are running V8 @ {{ info.versions.v8 }}.
                    </p>
                    <p ng:if="info.versions.openssl" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> You are running OpenSSL @ {{ info.versions.openssl }}.
                    </p>
                </div>
            </div>
            <div class="app-aside-collapser centered" ng-if="!appState.node.active">
                <a href="" ng:show="!info.showUnavailable" ng-click="info.showUnavailable = !info.showUnavailable">
                    Show More
                </a>
                <a href="" ng:show="info.showUnavailable" ng-click="info.showUnavailable = !info.showUnavailable">
                    Hide Inactive
                </a>
            </div>
            <hr />
            <div class="app-info-aside" ng-class="{ 'info-disabled': !info.versions.html }">
                <div class="app-info-icon">
                    <div ng:if="info.about.browser.name != 'Internet Explorer'" class="img-clipper img-html5"></div>
                    <div ng:if="info.about.browser.name == 'Internet Explorer'" class="img-clipper img-html5-ie"></div>
                </div>
                <div class="app-info-info">
                    <h5>
                        HTML Rendering Mode <small>
                            <span ng-if="info.versions.html">@ v{{ info.versions.html }}</span>
                            <span ng-if="!info.versions.html"><em>unknown</em></span>
                        </small>
                    </h5>
                    <p ng:if="info.versions.html >= '5.0'" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> You are running a modern browser.
                    </p>
                    <p ng:if="info.versions.html < '5.0'" class="text-warning">
                        <i class="glyphicon glyphicon-warning-sign glow-orange"></i> Your browser is out of date. Try upgrading.
                    </p>
                </div>
            </div>
            <div class="app-info-aside" ng-class="{ 'info-disabled': !info.versions.js }">
                <div class="app-info-icon">
                    <div ng:if="!info.versions.v8" class="img-clipper img-js-default"></div>
                    <div ng:if="info.versions.v8" class="img-clipper img-js-v8"></div>
                </div>
                <div class="app-info-info">
                    <h5>
                        Javascript Engine<small>
                            <span ng:if="info.versions.js">@ v{{ info.versions.js  }}</span>
                            <span ng:if="!info.versions.js"><em>not found</em></span>
                        </small>
                    </h5>
                    <p ng:if="info.versions.js >= '5.0'" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> You have a modern javascript engine.
                    </p>
                    <p ng:if="info.versions.js < '5.0'" class="text-warning">
                        <i class="glyphicon glyphicon-warning-sign glow-orange"></i> Javascript is out of date or unavailable.
                    </p>
                    <p ng:if="info.versions.v8" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> Javascript V8 engine, build v{{info.versions.v8}}.
                    </p>
                </div>
            </div>
            <div class="app-info-aside" ng-class="{ 'info-disabled': !info.versions.css }">
                <div class="app-info-icon">
                    <div ng:if="true" class="img-clipper img-css3"></div>
                </div>
                <div class="app-info-info">
                    <h5>
                        Cascading Styles <small>
                            <span ng:if="info.versions.css">@ v{{ info.versions.css }}</span>
                            <span ng:if="!info.versions.css"><em class="text-muted">not found</em></span>
                        </small>
                    </h5>
                    <p ng:if="info.versions.css >= '3.0'" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i>
                        <span>You have an up-to-date style engine.</span>
                    </p>
                    <p ng:if="info.versions.css < '3.0'" class="text-warning">
                        <i class="glyphicon glyphicon-warning-sign glow-orange"></i>
                        <span>CSS out of date. Styling might be broken.</span>
                    </p>
                    <p ng:if="info.css.boostrap2" class="text-warning">
                        <i class="glyphicon glyphicon-warning-sign glow-orange"></i>
                        <span>Bootstrap 2 is depricated. Upgrade to 3.x.</span>
                    </p>
                    <p ng:if="info.css.boostrap3" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i>
                        <span>Bootstrap and/or UI componets found.</span>
                    </p>
                    <p ng:if="info.detects.less" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i>
                        <span>Support for LESS has been detected.</span>
                    </p>
                    <p ng:if="info.detects.bootstrap" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> Bootstrap and/or UI Componets found.
                    </p>
                </div>
            </div>
            <div class="app-info-aside" ng-class="{ 'info-disabled': !info.versions.jqry }">
                <div class="app-info-icon">
                    <div ng:if="true" class="img-clipper img-jquery"></div>
                </div>
                <div class="app-info-info">
                    <h5>
                        jQuery <small>
                            <span ng:if="info.versions.jqry">@ v{{ info.versions.jqry }}</span>
                            <span ng:if="!info.versions.jqry"><em>not found</em></span>
                        </small>
                    </h5>
                    <p ng:if="info.versions.jqry" class="text-success">
                        <i class="glyphicon glyphicon-ok glow-green"></i> jQuery or jqLite is loaded.
                    </p>
                    <p ng:if="info.versions.jqry < '1.10'" class="text-danger">
                        <i class="glyphicon glyphicon-warning-sign glow-orange"></i> jQuery is out of date!
                    </p>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>