<div class="container">
    <h4>
        Prototyping SQL Server
        <small ng:if="!sqlCmd.dbname">{{ sqlCmd.path }}</small>
        <small ng:if="sqlCmd.dbname">{{ sqlCmd.dbname }}</small>
    </h4>
    <div ng:if="!sqlCmd.path">
        <div ng:if="!sqlCmd.error" class="alert alert-warning">
            <i class="glyphicon glyphicon-warning-sign"></i>
            <b>Warning: </b> Path to SQLCMD.exe not specified. To continue, you will need to locate it manually.
        </div>
        <div ng:if="sqlCmd.error" class="alert alert-danger">
            <i class="fa fa-share-square"></i> <b>Error:</b>
            {{ sqlCmd.error.message }}
        </div>
        <h5>
            Specify path to SQLCMD.exe
        </h5>
        <p>
            <input class="inpSqlCmd" ng:click="sqlCmd.utils.find()" type="file" accept=".exe,.cmd" nwdirectory>
        </p>
    </div>
    <div ng:if="sqlCmd.path" ng:cloak>
        <p ng:if="sqlCmd.busy">
            <em>Loading...</em>
        </p>
        <p ng:if="!sqlCmd.busy">
            ...
        </p>
        <div ng:if="!sqlCmd.busy">
            <div ng:if="!appNode.active" class="alert alert-warning">
                <i class="fa fa-warning"></i> <b>Not Available:</b>
                Application requires a NodeJS (or CommonJS) runtime. Web browsers do not have access to these advanced features...
            </div>
            <div ng:if="sqlCmd.active && !sqlCmd.error" class="alert alert-success">
                <i class="fa fa-share-square"></i> <b>Connected!</b>
                You are now conncted to the local SQL Server Database Engine...
            </div>
            <div ng:if="sqlCmd.error" class="alert alert-danger">
                <i class="fa fa-share-square"></i> <b>Error:</b>
                {{ sqlCmd.error.message }}
            </div>
            <div ng:if="false" class="alert alert-info">
                <i class="fa fa-share-square"></i> <b>Info:</b>
            </div>
        </div>
        <div ng:if="sqlCmd.dbname">
            <h5>
                <a ui:sref="sqlcmd.connect" href="" style="text-decoration: none; color: #dedede;"><i class="glyphicon glyphicon-backward"></i>&nbsp;</a>
                {{ sqlCmd.dbname }}
                <small>
                    ( {{ sqlCmd.target.size.files.total | toBytes }}
                    <label ng:if="sqlCmd.target.tables.length">, {{ sqlCmd.target.tables.length }} Tables</label>
                    <label ng:if="sqlCmd.target.views.length">, {{ sqlCmd.target.views.length }} Views</label>
                    )
                </small>
            </h5>
            <div class="row">
                <div class="col-md-12">
                    <div ng:click="sqlCmd.utils.select(sqlCmd.target)">
                        <div class="info-row thumbnail">
                            <div class="info-col-secondary img-clipper" style="flex-basis: 50px; background-image: url(http://png.findicons.com/files/icons/1035/human_o2/128/network_server_database.png)"></div>
                            <div class="info-col-primary">
                                <h5 class="ellipsis">
                                    {{ sqlCmd.target.DATABASE_NAME }}
                                    <small>{{ sqlCmd.target.size.files.total | toBytes }}</small>
                                </h5>
                                <div ng:if="sqlCmd.target.size.files">
                                    <div class="progress" ng-class="{ 'progress-striped active': sqlCmd.target.busy }" style="height: 10px; margin-bottom:3px;">
                                        <div ng:init="prog = sqlCmd.utils.getSizeLogs(sqlCmd.target)" role="progressbar"
                                             title="Database Logs - {{ prog.perct | number:2 }}% ( {{ prog.value | toBytes:1 }} / {{ prog.total | toBytes:1 }} )"
                                             class="progress-bar" ng-style="{width: (prog.perct | number:2) + '%'}"
                                             ng-class="{ 'progress-bar-primary inactive-ctrl':true }"
                                             aria-valuenow="{{ (prog.perct | number:2) }}"
                                             aria-valuetext="{{ (prog.perct | number:2) }}%"
                                             aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                        <div ng:if="false && sqlCmd.target.busy"
                                             ng:init="progData = sqlCmd.utils.getSizeData(sqlCmd.target)" role="progressbar"
                                             title="Database Tables - {{ progData.perct | number:2 }}% ( {{ progData.value | toBytes:1 }} / {{ progData.total | toBytes:1 }} )"
                                             class="progress-bar" ng-style="{width: (progData.perct | number:2) + '%'}"
                                             ng-class="{ 'progress-bar-warning inactive-ctrl':true  }"
                                             aria-valuenow="{{ (progData.perct | number:2) }}"
                                             aria-valuetext="{{ (progData.perct | number:2) }}%"
                                             aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                        <div ng:if="sqlCmd.target.size.index"
                                             ng:init="progIndex = sqlCmd.utils.getSizeIndex(sqlCmd.target)" role="progressbar"
                                             title="Table Indexes - {{ progIndex.perct | number:2 }}% ( {{ progIndex.value | toBytes:1 }} / {{ progIndex.total | toBytes:1 }} )"
                                             class="progress-bar" ng-style="{width: (progIndex.perct | number:2) + '%'}"
                                             ng-class="{ 'progress-bar-info':true }"
                                             aria-valuenow="{{ (progIndex.perct | number:2) }}"
                                             aria-valuetext="{{ (progIndex.perct | number:2) }}%"
                                             aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                        <div ng:if="sqlCmd.target.size.table"
                                             ng:init="progTables = sqlCmd.utils.getSizeTables(sqlCmd.target)" role="progressbar"
                                             title="Table Data - {{ progTables.perct | number:2 }}% ( {{ progTables.value | toBytes:1 }} / {{ progTables.total | toBytes:1 }} )"
                                             class="progress-bar" ng-style="{width: (progTables.perct | number:2) + '%'}"
                                             ng-class="{ 'progress-bar-primary':true }"
                                             aria-valuenow="{{ (progTables.perct | number:2) }}"
                                             aria-valuetext="{{ (progTables.perct | number:2) }}%"
                                             aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div ng:if="!sqlCmd.target.tables && !sqlCmd.target.views">
                                        <em>Loading...</em>
                                    </div>
                                    <div ng:if="sqlCmd.target" class="ellipsis">
                                        <span ng:if="!sqlCmd.busy" class="dropdown" style="position: relative;">
                                            <a href="" style="color: #808080; text-decoration:none;"
                                               ng-click="sqlCmd.utils.openModalWindow('modules/cli/win/sqlcmd.exe/dialogs/dbActions.tpl.html')">
                                                &nbsp; <i class="glyphicon glyphicon-expand"></i> Actions
                                            </a>
                                        </span>
                                        <span ng:if="sqlCmd.target.tables.length">| <a href="" style="color: #808080; text-decoration:none;">{{ sqlCmd.target.tables.length }} Tables</a></span>
                                        <span ng:if="sqlCmd.target.views.length">| <a href="" style="color: #808080; text-decoration:none;">{{ sqlCmd.target.views.length }} Views</a></span>
                                    </div>
                                    <div ng:if="sqlCmd.target.REMARKS && (sqlCmd.target.REMARKS != 'NULL')">
                                        <em>Remarks: {{ sqlCmd.target.REMARKS }}</em>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <tabset class="info-tabs">
                            <tab heading="Tables">
                                <div ng:if="sqlCmd.target.tables.length > 0" class="thumbnail trim-top">
                                    <h5 class="ellipsis">
                                        Database Tables
                                        <small>( <label>{{ sqlCmd.target.tables.length }} items in total</label> )</small>
                                    </h5>
                                    <ul ng:if="sqlCmd.target.tables" style="padding: 12px; margin: 0;">
                                        <li ng-repeat="tbl in sqlCmd.target.tables" class="ellipsis" style="list-style: none; padding: 0; margin: 0;">
                                            <i class="glyphicon glyphicon-list" ng-class="{'glow-blue': (sqlCmd.targetTable == tbl)}"></i>&nbsp;
                                            <a href="" ng-click="sqlCmd.targetTable = tbl" ng-class="{ 'glow-blue': (sqlCmd.targetTable == tbl) }">
                                                {{ tbl.name }}
                                            </a>
                                            <ul ng:if="sqlCmd.targetTable == tbl" style="padding: 0 0 0 8px; margin: 8px;">
                                                <li ng:if="tbl.cols.length == 0" style="list-style: none; padding: 0; margin: 0;">
                                                    <em>Nothing to display...</em>
                                                </li>
                                                <li ng-repeat="col in tbl.cols" style="list-style: none; padding: 0; margin: 0;">
                                                    <i class="glyphicon" ng-class="{ 'glyphicon-list': true }"></i>
                                                    <a href="" ng-click="sqlCmd.targetColumn == col">{{col}}</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </tab>
                            <tab heading="Views">
                                <div class="thumbnail trim-top" ng:if="sqlCmd.target.views.length > 0">
                                    <h5 class="ellipsis">
                                        Database Views
                                        <small>( <label>{{ sqlCmd.target.views.length }} items in total</label> )</small>
                                    </h5>
                                    <ul ng:if="sqlCmd.target.views" style="padding: 12px; margin: 0;">
                                        <li ng-repeat="view in sqlCmd.target.views" class="ellipsis" style="list-style: none; padding: 0; margin: 0;">
                                            <i class="glyphicon glyphicon-list" ng-class="{'glow-blue': (sqlCmd.targetView == view)}"></i>&nbsp;
                                            <a href="" ng-click="sqlCmd.targetView = view" ng-class="{ 'glow-blue': (sqlCmd.targetView == view) }">
                                                {{ view.name }}
                                            </a>
                                            <ul ng:if="sqlCmd.targetView == view" style="padding: 0 0 0 8px; margin: 8px;">
                                                <li ng:if="view.cols.length == 0" style="list-style: none; padding: 0; margin: 0;">
                                                    <em>Nothing to display...</em>
                                                </li>
                                                <li ng-repeat="col in tbl.cols" style="list-style: none; padding: 0; margin: 0;">
                                                    <i class="glyphicon" ng-class="{ 'glyphicon-list': true }"></i>
                                                    <a href="" ng-click="sqlCmd.targetColumn == col">{{col}}</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </tab>
                            <tab heading="More...">
                                <div class="thumbnail docked trim-top">
                                    ToDo: Triggers, stored procedures, FKeys and defaults
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>