<div class="container">
    <h4>
        About
        <small> Application</small>
    </h4>
    <hr />
    <p>
        <i class="fa fa-gear"></i> Build Version: <b app:version>loading...</b>
    </p>
    <p>
        <i class="fa fa-book"></i> Inspired by these technologies:
        <ul style="margin: 6px; list-style-type:square;">
            <li><b>AngularJS</b> - <a target="_blank" href="https://angularjs.org/">https://angularjs.org/</a></li>
            <li><b>Node Webkit</b> - <a target="_blank" href="https://github.com/nwjs/nw.js">https://github.com/nwjs/nw.js</a></li>
        </ul>
        <br class="clearfix" />
    </p>
    <hr />
</div>