<div class="modal-header">
    <h4 class="modal-title">Select Database Action</h4>
</div>
<div class="modal-body" style="min-height: 180px; padding: 6px;">
    <label class="thumbnail alert" ng-class="{ 'alert-info':modalAction, 'alert-warning': !modalAction }" style="padding: 8px; margin: 0;">
        Actions:
        <select ng-model="modalAction" style="margin: 0;">
            <option value="">No action selected</option>
            <option value="Create User">Create Users and Roles</option>
        </select>
    </label>
    <div ng-switch="modalAction" style="margin-top: 6px;">
        <div ng-switch-default class="docked">
            <em class="text-muted" style="padding: 6px; margin: 50px auto;">Select an action to start with...</em>
        </div>
        <div ng-switch-when="Create User">
            <h5>Users &amp; Roles <small>{{ modalAction }}</small></h5>
            <form name="frmCreateUser" class="simple-form" ng-disabled="db.busy" style="margin: 0 8px;" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-group-sm">
                            <label for="txtLoginName">Login user or group</label>
                            <input id="txtLoginName" name="login" ng-model="db.login" type="text" class="form-control" placeholder="DOMAIN\Username" required>
                            <div class="text-danger" ng-show="frmCreateUser.login.$error.required">Login name is required.</div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="txtUserName">Database username</label>
                            <input id="txtUserName" name="user" ng-model="db.user" type="text" class="form-control" placeholder="Login name for the database" required>
                            <div class="text-danger" ng-show="frmCreateUser.user.$error.required">Username is required.</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputFile">Add user to roles: </label>
                            <select ng-model="selectedRole" style="margin: 0;">
                                <option value="+">Create a new role</option>
                                <option value="{{ role }}" ng-repeat="role in db.roles"> + {{ role }}</option>
                            </select>
                            <div ng:if="false" class="help-block">
                                The user has no roles
                            </div>
                            <div ng:if="true">
                                <div class="checkbox" ng-repeat="role in db.roles" ng-class="{ 'glow-blue': db.links[role] }">
                                    <label><input type="checkbox" ng-model="db.links[role]"> {{ role }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng:if="error" class="alert alert-danger">
                    <i class="fa fa-warning"></i>
                    <b>Failed: </b>
                    <span>{{ error }}</span>
                </div>
            </form>
        </div>
    </div>    
</div>
<div class="modal-footer">
    <p class="pull-left help-block">
        Selected Action:
        <b ng-class="{ 'text-primary': !error, 'text-danger': error }" ng:if="modalAction">{{ modalAction }}</b>
        <em class="text-muted" ng:if="!modalAction">No action selected...</em>
    </p>
    <button id="btnCancel" ng-disabled="db.busy" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button id="btnUpdate" ng-disabled="db.busy" class="btn" ng-class="{ 'btn-success': lastSuccess, 'btn-danger': lastFailed, 'btn-primary': !lastFailed && !lastSuccess }" ng-click="ok()">Run Selected Action</button>
</div>