<ul class="list-group">
    <li class="list-group-item" ui:sref-active="active">
        <a app:nav-link ui:sref="appCmd.discover">
            <i class="fa" ng-class="{ 'fa-refresh glow-blue': appCmd.busy, 'fa-desktop glow-green': !appCmd.busy && appNode.active, 'fa-warning glow-orange': !appCmd.busy && !appNode.active }"></i>&nbsp;
            Discover Local Features
        </a>        
    </li>
    <li class="list-group-item" ui:sref-active="active" ng-class="{ 'disabled': !appNode.active }">
        <a app:nav-link ui:sref="appCmd.connect" data:eat-click-if="!appNode.active">
            <i class="fa fa-gears"></i> Connect to Data Source
        </a>
    </li>
    <li class="list-group-item" ui:sref-active="active" ng-class="{ 'disabled': !appNode.active }">
        <a app:nav-link ui:sref="appCmd.clear" data:eat-click-if="!appNode.active">
            <i class="fa fa-recycle"></i> Clear Session and Exit
        </a>
    </li>
</ul>
