<ul class="nav navbar-nav">
    <li ui:sref-active="open">
        <a app:nav-link ui:sref="appCmd.discover">
            <i class="fa" ng-class="{ 'fa-refresh glow-blue': appCmd.busy, 'fa-desktop glow-green': !appCmd.busy && appNode.active, 'fa-warning glow-orange': !appCmd.busy && !appNode.active }"></i>&nbsp;
            Discover Local Features
        </a>
    </li>
    <li ui:sref-active="open" ng-class="{ 'disabled': !appNode.active }">
        <a app:nav-link ui:sref="appCmd.connect" data:eat-click-if="!appNode.active">
            <i class="fa fa-database"></i> Connect to Data Source
        </a>
    </li>
</ul>