<ul class="nav nav-list ng-cloak">
    <li>
        <h5>Current Location</h5>
        <div class="thumbnail">
            <div class="row nav-label">
                <span class="col-sm-3">
                    Status
                </span>
                <b class="col-sm-9"
                   ng-class="{'text-success' : position.coords, 'text-inactive' : client || position.isBusy, 'text-error':position.failed, 'text-danger' : !client && !position.coords && !position.failed && !position.isBusy }">
                    <i class="glyphicon" ng-class="{'glyphicon-ok' : position.coords, 'glyphicon-refresh' : position.isBusy, 'glyphicon-exclamation-sign' : !position.coords && !position.isBusy }"></i>
                    {{ geoCtrl.getStatus() }}
                </b>
            </div>
            <div class="row nav-label" ng-show="position.coords">
                <span class="col-sm-3">
                    Long
                </span>
                <b class="col-sm-9">
                    {{ position.coords.longitude  | longitude }}
                </b>
            </div>
            <div class="row nav-label" ng-show="position.coords">
                <span class="col-sm-3">
                    Latt
                </span>
                <b class="col-sm-9">
                    {{ position.coords.latitude | latitude }}
                </b>
            </div>
            <div class="row nav-label" ng-show="position.coords.accuracy">
                <span class="col-sm-3">
                    Accuracy
                </span>
                <b class="col-sm-9">
                    {{ position.coords.accuracy | formatted:'{0} meters' || 'n.a.' }}
                </b>
            </div>
        </div>
    </li>
    <li ng-if="geoCtrl.hasSamples()">
        <h5>Popular Locations</h5>
        <div class="thumbnail">
            <div ng-repeat="loc in geoCtrl.getSamples()">
                <a href="" ng-click="geoCtrl.setGeoPoint(loc)">
                    <i class="glyphicon glyphicon-screenshot"></i> <span class="nav-label"> {{ loc.Label }}</span>
                </a>
            </div>
        </div>
    </li>
    <li ng-show="(client || position)">
        <h5>Additional Info</h5>
        <div class="thumbnail">
            <div class="row nav-label" ng-show="client.country">
                <div class="col-sm-3">
                    Country
                </div>
                <b class="col-sm-9 ellipse">
                    {{ client.country }}
                </b>
            </div>
            <div class="row nav-label" ng-show="client.city">
                <div class="col-sm-3">
                    City
                </div>
                <b class="col-sm-9 ellipse">
                    {{ client.city }}
                </b>
            </div>
            <div class="row nav-label" ng-show="client.ip">
                <div class="col-sm-3">
                    TCP/IP
                </div>
                <b class="col-sm-9 ellipse">
                    {{ client.ip }}
                </b>
            </div>
            <div class="row nav-label" ng-show="position.timestamp">
                <span class="col-sm-3">
                    Updated
                </span>
                <b class="col-sm-9 ellipse">
                    {{ position.timestamp | date:'HH:mm a Z' || 'n.a.' }}
                </b>
            </div>
            <div class="row nav-label" ng-show="position.coords.speed">
                <span class="col-sm-3">
                    Speed
                </span>
                <b class="col-sm-9 ellipse">
                    {{ position.coords.speed | formatted:'{0} m/s' }}
                </b>
            </div>
            <div class="row nav-label" ng-show="position.coords.altitude">
                <span class="col-sm-3">
                    Altitude
                </span>
                <b class="col-sm-9 ellipse">
                    {{ position.coords.altitude | formatted:'{0} meters' }}
                </b>
            </div>
            <div class="row nav-label" ng-show="position.coords.heading">
                <span class="col-sm-3">
                    Heading
                </span>
                <b class="col-sm-9 ellipse">
                    {{ position.coords.heading | formatted:'{0}°' }}
                </b>
            </div>
        </div>
    </li>
</ul>