<div id="SampleDataView" class="container" style="width: 100%;">
    <div ng:if="sampleData.error" class="alert alert-danger">
        <a class="pull-right" href="" ng-click="sampleData.error = null"><i class="fa fa-remove"></i></a>
        <b>Error: </b>
        {{ sampleData.error.message || 'Something went wrong. :(' }}
    </div>
    <div ng-if="!sampleData.context" class="row">
        <div class="col-md-12">
            <h4>Data Profiles <small>Create and model your data objects.</small></h4>
            <hr />
            <form ng-if="sampleData._new">
                <div class="form-group">
                    <label for="inputName">Profile Name</label>
                    <input class="form-control"
                           id="inputName"
                           type="text"
                           tabindex="1"
                           ng-required
                           placeholder="Your Profile Name"
                           ng-model="sampleData._new.name">
                </div>
                <div class="form-group">
                    <label for="inputRows">Sample Data Size</label>
                    <input class="form-control"
                           id="inputRows"
                           type="number"
                           tabindex="2"
                           ng-required
                           placeholder="Enter number of rows"
                           ng-model="sampleData._new.rows">
                </div>
                <hr />
                <a href="" class="btn btn-primary" ng-click="sampleData.addNew(sampleData._new)">Create</a>
                <a href="" class="btn btn-default" ng-click="sampleData._new = null">Cancel</a>
            </form>
            <ul ng-if="!sampleData._new" class="list-group">
                <li class="list-group-item">
                    <a href="" class="inactive-gray" ng-click="sampleData._new = { name: 'My Data Object', rows: 10, args: [] }">
                        <i class="fa fa-plus-circle"></i> Create new profile
                    </a>
                </li>
                <li class="list-group-item" ng-if="!sampleData.OnlineData.length && sampleData.busy">
                    <em><i class="fa fa-spinner fa-spin"></i> Loading...</em>
                </li>
                <li class="list-group-item" ng-if="!sampleData.OnlineData.length && !sampleData.busy">
                    <p>
                        <b><i class="fa fa-info-circle"></i> Warning: </b>
                        <em>No Profiles available...</em>
                    </p>
                    <p>
                        &raquo; Identify Yourself:
                        <a href="" ng-click="sampleData.authenticate('google')">Google</a> |
                        <a href="" ng-click="sampleData.authenticate('facebook')">Facebook</a> |
                        <a href="" ng-click="sampleData.authenticate('github')">GitHub</a> |
                        <a href="" ng-click="sampleData.authenticate('twitter')">Twitter</a> |
                        <a href="" ng-click="sampleData.authenticate('password')">Email</a> |
                        <a href="" ng-click="sampleData.createSamples()">Load Samples</a>
                    </p>
                </li>
                <li class="list-group-item" ng-repeat="profile in sampleData.OnlineData">
                    <a href="" class="pull-right" ng-click="sampleData.removeProfile(profile)">
                        <i class="fa fa-trash"></i>
                    </a>
                    <a href="" ng-click="sampleData.context = profile">
                        <i class="fa fa-globe"></i> {{ profile.name }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div ng-if="sampleData.context" class="row">
        <div class="col-md-12">
            <span class="pull-right">
                <a href="" ng-disabled="!sampleData.context.args.length || sampleData.busy" ng-click="sampleData.test()" class="btn btn-primary">
                    Fetch Sample Data
                </a>
                <a href="" ng-click="sampleData.context = null" class="btn btn-default">
                    Close
                </a>
            </span>
            <h4>
                Online Sample Data
                <small>Create sample data <a href="http://chancejs.com/" target="_blank">on the fly</a>, or get it <a href="http://www.filltext.com/" target="_blank">directly from the cloud</a>!</small>
            </h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <h5>
                        <div style="width: 60%; display: inline-block;" class="ellipsis">{{ sampleData.context.name || 'Define Fields' }}</div>
                        <small class="pull-right">
                            <a href=""
                               ng-click="sampleData.edit = !sampleData.edit">
                                <i class="fa" ng-class="{ 'fa-plus':!sampleData.edit, 'fa-minus':sampleData.edit}"></i>
                            </a>
                        </small>
                        <small ng-if="sampleData.context.args.length">( {{ sampleData.context.args.length }} defined )</small>
                    </h5>
                    <div class="thumbnail">
                        <div style="display: flex; width: auto; padding: 3px;" ng-if="!sampleData.context.args.length">
                            <em>List Empty</em>
                        </div>
                        <div style="display: flex; width: auto; padding: 3px;" ng-repeat="arg in sampleData.context.args">
                            <span style="flex-basis: 20px; flex-grow:0; flex-shrink:0;">
                                <input checked="checked" type="checkbox" ng-click="sampleData.removeColumn(sampleData.context, arg)">
                            </span>
                            <div style="flex-basis: 100px; flex-grow:0; flex-shrink:0;">
                                <input type="text" style="width: 100%;" ng-model="arg.id" ng-blur="sampleData.updateColumn(sampleData.context, arg)">
                            </div>
                            <div style="flex-grow:1; flex-shrink:1;">
                                <input type="text" style="width: 100%"
                                       ng-model="arg.val"
                                       ng-blur="sampleData.updateColumn(sampleData.context, arg)"
                                       ng-change="sampleData.updateColumn(sampleData.context, arg)">
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="sampleData.edit || !sampleData.context.resp" class="col-md-8">
                    <h5>
                        Define Data Model
                    </h5>
                    <style>
                        .sample-container {
                            margin: 0;
                            padding: 0;
                        }

                        .sample-list {
                            margin: 3px;
                            padding: 3px;
                            overflow: visible;
                        }

                            .sample-list ul {
                                padding-left: 24px;
                            }

                                .sample-list ul li {
                                    list-style: square;
                                }
                    </style>
                    <div class="row sample-container">
                        <div class="col-md-3">
                            <div class="thumbnail sample-list">
                                <h5>Basics</h5>
                                <ul class="toc_section">
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Boolean', val: '{bool}', type:'chance'})">bool</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Character', val: '{character}', type:'chance'})">character</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Floating', val: '{floating}', type:'chance'})">floating</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Integer', val: '{integer}', type:'chance'})">integer</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Natural', val: '{natural}', type:'chance'})">natural</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'String', val: '{string}', type:'chance'})">string</a></li>
                                </ul>
                            </div>
                            <div class="thumbnail sample-list">
                                <h5>Text</h5>
                                <ul class="toc_section">
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Paragraph', val: '{paragraph}', type:'chance'})">paragraph</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Sentence', val: '{sentence}', type:'chance'})">sentence</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Syllable', val: '{syllable}', type:'chance'})">syllable</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Word', val: '{word}', type:'chance'})">word</a></li>
                                </ul>
                            </div>
                            <div class="thumbnail sample-list">
                                <h5>Finance</h5>
                                <ul class="toc_section">
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'CreditCardNo', val: '{cc}', type:'chance'})">cc</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'CreditCardType', val: '{cc_type}', type:'chance'})">cc_type</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Currency', val: '{currency}', type:'chance'})">currency</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'CurrencyPair', val: '{currency_pair}', type:'chance'})">currency_pair</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Dollars', val: '{dollar}', type:'chance'})">dollar</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'ExpiryDate', val: '{exp}', type:'chance'})">exp</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'ExpiryMonth', val: '{exp_month}', type:'chance'})">exp_month</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'ExpiryYear', val: '{exp_year}', type:'chance'})">exp_year</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail sample-list">
                                <h5>Person</h5>
                                <ul class="toc_section">
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Name', val: '{name}', type:'chance'})">name</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Last', val: '{last}', type:'chance'})">last</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'First', val: '{first}', type:'chance'})">first</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Prefix', val: '{prefix}', type:'chance'})">prefix</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Suffix', val: '{suffix}', type:'chance'})">suffix</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Birthday', val: '{birthday}', type:'chance'})">birthday</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Gender', val: '{gender}', type:'chance'})">gender</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Age', val: '{age}', type:'chance'})">age</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'CPF', val: '{cpf}', type:'chance'})">cpf</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'SSN', val: '{ssn}', type:'chance'})">ssn</a></li>
                                </ul>
                            </div>
                            <div class="thumbnail sample-list">
                                <h5>Miscellaneous</h5>
                                <ul class="toc_section">
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Dice', val: '{dice}', type:'chance'})">dice</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Guid', val: '{guid}', type:'chance'})">guid</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Hash', val: '{hash}', type:'chance'})">hash</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Hidden', val: '{hidden}', type:'chance'})">hidden</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'N', val: '{n}', type:'chance'})">n</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Normal', val: '{normal}', type:'chance'})">normal</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Radio', val: '{radio}', type:'chance'})">radio</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'RPG', val: '{rpg}', type:'chance'})">rpg</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'TV', val: '{tv}', type:'chance'})">tv</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Unique', val: '{unique}', type:'chance'})">unique</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Weighted', val: '{weighted}', type:'chance'})">weighted</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail sample-list">
                                <h5>Web</h5>
                                <ul class="toc_section">
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Color', val: '{color}', type:'chance'})">color</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Domain', val: '{domain}', type:'chance'})">domain</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Email', val: '{email}', type:'chance'})">email</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'FacebookID', val: '{fbid}', type:'chance'})">fbid</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'GoogleAnalytics', val: '{google_analytics}', type:'chance'})">google_analytics</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Hashtag', val: '{hashtag}', type:'chance'})">hashtag</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'IP', val: '{ip}', type:'chance'})">ip</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'IPv6', val: '{ipv6}', type:'chance'})">ipv6</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'KLOUT', val: '{klout}', type:'chance'})">klout</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'TLD', val: '{tld}', type:'chance'})">tld</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Twitter', val: '{twitter}', type:'chance'})">twitter</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Url', val: '{url}', type:'chance'})">url</a></li>
                                </ul>
                            </div>
                            <div class="thumbnail sample-list">
                                <h5>Time</h5>
                                <ul class="toc_section">
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'AM_PM', val: '{ampm}', type:'chance'})">ampm</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Date', val: '{date}', type:'chance'})">date</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'HammerTime', val: '{hammertime}', type:'chance'})">hammertime</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Hour', val: '{hour}', type:'chance'})">hour</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Millisecond', val: '{millisecond}', type:'chance'})">millisecond</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Minute', val: '{minute}', type:'chance'})">minute</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Month', val: '{month}', type:'chance'})">month</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Second', val: '{second}', type:'chance'})">second</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Timestamp', val: '{timestamp}', type:'chance'})">timestamp</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Year', val: '{year}', type:'chance'})">year</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail sample-list">
                                <h5>Mobile</h5>
                                <ul class="toc_section">
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'AndroidID', val: '{android_id}', type:'chance'})">android_id</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'AppleToken', val: '{apple_token}', type:'chance'})">apple_token</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'BlackberryPIN', val: '{bb_pin}', type:'chance'})">bb_pin</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'WinPhone7', val: '{wp7_anid}', type:'chance'})">wp7_anid</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'WinPhone8', val: '{wp8_anid2}', type:'chance'})">wp8_anid2</a></li>
                                </ul>
                            </div>
                            <div class="thumbnail sample-list">
                                <h5>
                                    Location
                                </h5>
                                <ul class="toc_section">
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Address', val: '{address}', type:'chance'})">address</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Altitude', val: '{altitude}', type:'chance'})">altitude</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'AreaCode', val: '{areacode}', type:'chance'})">areacode</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'City', val: '{city}', type:'chance'})">city</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Coordinates', val: '{coordinates}', type:'chance'})">coordinates</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Country', val: '{country}', type:'chance'})">country</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Depth', val: '{depth}', type:'chance'})">depth</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Geohash', val: '{geohash}', type:'chance'})">geohash</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Latitude', val: '{latitude}', type:'chance'})">latitude</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Longitude', val: '{longitude}', type:'chance'})">longitude</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Phone', val: '{phone}', type:'chance'})">phone</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Postal', val: '{postal}', type:'chance'})">postal</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Province', val: '{province}', type:'chance'})">province</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'State', val: '{state}', type:'chance'})">state</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Street', val: '{street}', type:'chance'})">street</a></li>
                                    <li><a href="" ng-click="sampleData.addColumn(sampleData.context, { id: 'Zip', val: '{zip}', type:'chance'})">zip</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!sampleData.edit && sampleData.context.resp" class="col-md-8">
                    <div class="pull-right" style="width: 200px;">
                        <input id="ex1" type="range" min="0" max="100"
                               ng-model="sampleData.context.rows"
                               ng-blur="sampleData.updateProfile(sampleData.context, true)" />
                    </div>
                    <div class="pull-right" style="width: 64px;">
                        Rows: <b>{{ sampleData.context.rows }}</b>
                    </div>
                    <h5>
                        Results View
                        <small ng:if="sampleData.context.resp.length">
                            ( {{ sampleData.context.resp.length }} total ) |
                            <a href="" ng-click="sampleData.clearData(sampleData.context)">
                                <i class="fa fa-trash"></i> Clear
                            </a>
                        </small>
                    </h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th ng-repeat="arg in sampleData.context.args">{{ arg.id }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="!sampleData.context.resp">
                                <td colspan="{{ sampleData.context.args.length }}">
                                    <em>Nothing to show yet. Fetch some data first...</em>
                                </td>
                            </tr>
                            <tr ng-repeat="row in sampleData.context.resp">
                                <td ng-repeat="arg in sampleData.context.args">{{ row[arg.id] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
