<div id="SampleDataView" class="container" style="width: 100%;">
    <div class="row">
        <div class="col-md-12">
            <span class="pull-right">
                <a href="" ng-disabled="sampleData.busy" ng-click="sampleData.test()" class="btn btn-primary">
                    Fetch Sample Data
                </a>
            </span>
            <h4>
                Online Sample Data
                <small>Directly from the cloud! Supplied by this awesome API: <a href="http://www.filltext.com/" target="_blank">http://www.filltext.com/</a></small>
            </h4>
            <hr />
            <div ng:if="sampleData.error" class="alert alert-danger">
                <b>Error: </b>
                {{ sampleData.error.message || 'Something went wrong. :(' }}
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h5>
                        Define Fields
                        <small>( {{ sampleData.args.length }} defined )</small>
                        <small class="pull-right">
                            <a href="" ng-click="sampleData.args.push({ id: 'myField', val: ''})"><i class="fa fa-plus"></i></a>
                        </small>
                    </h5>
                    <div class="thumbnail">
                        <div style="display: flex; width: auto; padding: 3px;" ng-repeat="arg in sampleData.args">
                            <span style="flex-basis: 20px; flex-grow:0; flex-shrink:0;">
                                <input checked="checked" type="checkbox" ng-click="sampleData.args.splice(sampleData.args.indexOf(arg), 1)" aria-label="...">
                            </span>
                            <div style="flex-basis: 64px; flex-grow:0; flex-shrink:0;">
                                <input type="text" style="width: 100%;" aria-label="..." ng-model="arg.id">
                            </div>
                            <div style="flex-grow:1; flex-shrink:1;">
                                <input type="text" style="width: 100%" aria-label="..." ng-model="arg.val">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <h5>Results View <small ng:if="sampleData.resp.length">( {{ sampleData.resp.length }} total )</small></h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th ng-repeat="arg in sampleData.args">{{ arg.id }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="!sampleData.resp">
                                <td colspan="{{ sampleData.args.length }}">
                                    <em>Nothing to show yet. Fetch some data first...</em>
                                </td>
                            </tr>
                            <tr ng-repeat="row in sampleData.resp">
                                <td ng-repeat="arg in sampleData.args">{{ row[arg.id] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
