<div ng:cloak class="container" style="width: 100%;">

    <!-- Define required scripts & styling for bootstrap switch -->
    <script resx:import="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
    <link rel="stylesheet" resx:import="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css"></style>

    <!-- Define required styling for alertify -->
    <link rel="stylesheet" resx:import="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.core.css" />
    <link rel="stylesheet" resx:import="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.default.min.css" />
    <script resx:import="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.min.js"></script>

    <div class="row">
        <div class="col-md-12">
            <span class="pull-right ng-cloak" style="padding: 6px;">
                <input type="checkbox"
                       ng:show="sampleErrors.result !== null"
                       ng:model="appConfig.errorHandlers.enabled"
                       bs:switch
                       switch:size="mini"
                       switch:inverse="true">
            </span>
            <h4>
                Exception Handling
                <small>Error reporting and client-side exception handling</small>
            </h4>
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <h5>
                            Throw Exceptions
                        </h5>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="" ng-click="sampleErrors.throwManagedException()">
                                    <i class="fa fa-exclamation glow-red"></i>&nbsp;
                                    Catch Managed Error
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="" ng-click="sampleErrors.throwAjaxException()">
                                    <i class="fa fa-exclamation glow-red"></i>&nbsp;
                                    Create Ajax Error
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="" ng-click="sampleErrors.throwAngularException()">
                                    <i class="fa fa-exclamation glow-red"></i>&nbsp;
                                    AngularJS Error
                                </a>
                                <!-- ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="" ng-click="state.ajaxCfg.select(state.ajaxCfg.errHttp)">
                                            {{ state.ajaxCfg.getDesc(state.ajaxCfg.errHttp) }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="state.ajaxCfg.select(state.ajaxCfg.errSuccess)">
                                            {{ state.ajaxCfg.getDesc(state.ajaxCfg.errSuccess) }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="state.ajaxCfg.select(state.ajaxCfg.errFailed)">
                                            {{ state.ajaxCfg.getDesc(state.ajaxCfg.errFailed) }}
                                        </a>
                                    </li>
                                </ul -->
                            </li>
                            <li class="list-group-item">
                                <a href="" ng-click="sampleErrors.throwTimeoutException()">
                                    <i class="fa fa-exclamation glow-red"></i>&nbsp;
                                    Timeout Error
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="" onclick="sampleError.dontExist++;">
                                    <i class="fa fa-exclamation glow-red"></i>&nbsp;
                                    Unhandled Exception
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ellipsis" style="overflow: hidden"
                     ng-class="{ 'col-md-6':appConfig.errorHandlers.enabled, 'col-md-9': !appConfig.errorHandlers.enabled }">
                    <div>
                        <span class="pull-right" style="padding: 3px;">
                            <a href="" ng-click="">Refresh</a> |
                            <a href="" ng-click="appStatus.logs = []">Clear</a>
                        </span>
                        <h5>Event Logs</h5>
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th style="width: 80px;">Time</th>
                                    <th style="width: 64px;">Type</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="!appStatus.logs.length">
                                    <td colspan="3">
                                        <em>No events have been logged...</em>
                                    </td>
                                </tr>
                                <tr ng-repeat="row in appStatus.logs"
                                    ng-class="{ 'text-info inactive-gray':row.type=='debug', 'text-info':row.type=='info', 'text-warning glow-orange':row.type=='warn', 'text-danger glow-red':row.type=='error' }">
                                    <td>{{ row.time | date:'hh:mm:ss' }}</td>
                                    <td>{{ row.type }}</td>
                                    <td class="ellipsis" style="width: auto; overflow: hidden">
                                        {{ row.desc }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="!appStatus.logs.length">
                        <h5>Inspired by these blogs:</h5>
                        <ul class="alert alert-info" style="list-style: none">
                            <li>
                                <a target="_blank" href="http://www.davecap.com/post/46522098029/using-sentry-raven-js-with-angularjs-to-catch">
                                    <i class="fa fa-external-link-square"></i> http://www.davecap.com
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="http://bahmutov.calepin.co/catch-all-errors-in-angular-app.html">
                                    <i class="fa fa-external-link-square"></i> http://bahmutov.calepin.co
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="http://davidwalsh.name/track-errors-google-analytics">
                                    <i class="fa fa-external-link-square"></i> http://davidwalsh.name
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-class="{ 'col-md-3':appConfig.errorHandlers.enabled, 'hide': !appConfig.errorHandlers.enabled }">
                    <div>
                        <h5>
                            Exception Handlers
                        </h5>
                        <form class="thumbnail">
                            <div style="padding: 0 8px;">
                                <div class="checkbox"
                                     ng:class="{ 'inactive-gray': !handler.enabled && handler.locked }"
                                     ng:repeat="handler in sampleErrors.errorHandlers">
                                    <label>
                                        <input type="checkbox"
                                               ng-disabled="handler.locked"
                                               ng-checked="handler.enabled"
                                               ng-click="sampleErrors.checkChanged(handler)">
                                        <span ng-if="!handler.busy">
                                            <strong ng:if="handler.enabled">{{ handler.label }}</strong>
                                            <span ng:if="!handler.enabled">{{ handler.label }}</span>
                                        </span>
                                        <span ng-if="handler.busy">
                                            <i class="fa fa-spinner fa-spin"></i>
                                            <em>Loading third-party scripts...</em>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div ng:if="sampleErrors.google.isEnabled && !sampleErrors.google.handler.busy">
                        <span class="pull-right" style="padding: 3px">
                            <b ng:if="sampleErrors.google.isOnline" class="glow-green">Online</b>
                            <b ng:if="!sampleErrors.google.isOnline" class="glow-red">Offline</b>
                        </span>
                        <h5>
                            Google Analytics
                        </h5>
                        <div style="padding: 0 8px;">
                            <div ng-show="sampleErrors.google.isOnline">
                                <a href="" class="pull-right" ng:click="sampleErrors.google.isOnline = false;">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                                <div class="ellipsis">
                                    <b>Public Key:</b>
                                    <a class="inactive-text">{{ sampleErrors.google.config.publicKey }}</a>
                                </div>
                            </div>
                            <form class="form-inline" role="form" ng-show="!sampleErrors.google.isOnline">
                                <div class="form-group">
                                    <label for="sentryKey">Google API key (required)</label>
                                    <div class="input-group">
                                        <input class="form-control input-sm" id="googleKey" type="text"
                                               ng:model="sampleErrors.google.config.publicKey"
                                               placeholder="UA-XXXX-Y">
                                        <div class="input-group-btn">
                                            <a class="btn btn-sm btn-default"
                                               ng-class="{ 'btn-danger': sampleErrors.google.lastError, 'btn-primary': sampleErrors.google.config.publicKey, 'btn-default': !sampleErrors.google.config.publicKey }"
                                               ng-disabled="!sampleErrors.google.config.publicKey"
                                               ng-click="sampleErrors.google.connect(sampleErrors.google.config.publicKey)">Set</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br />
                            <div class="alert alert-danger" ng-if="!sampleErrors.google.isOnline && sampleErrors.google.lastError">
                                {{ sampleErrors.google.lastError.message }}
                            </div>
                        </div>
                    </div>
                    <div ng:if="sampleErrors.raven.isEnabled && !sampleErrors.raven.handler.busy">
                        <span class="pull-right" style="padding: 3px">
                            <b ng:if="sampleErrors.raven.isOnline" class="glow-green">Online</b>
                            <b ng:if="!sampleErrors.raven.isOnline" class="glow-red">Offline</b>
                        </span>
                        <h5>
                            Sentry and RavenJS
                        </h5>
                        <div style="padding: 0 8px;">
                            <div ng-show="sampleErrors.raven.isOnline">
                                <a href="" class="pull-right" ng:click="sampleErrors.raven.isOnline = false;">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                                <div class="ellipsis">
                                    <b>Public Key:</b>
                                    <a ng-href="{{ sampleErrors.raven.config.publicKey }}" target="_blank" class="inactive-text">{{ sampleErrors.raven.config.publicKey }}</a>
                                </div>
                            </div>
                            <form class="form-inline" role="form" ng-show="!sampleErrors.raven.isOnline">
                                <div class="form-group">
                                    <label for="sentryKey">Sentry public key (required)</label>
                                    <div class="input-group">
                                        <input class="form-control input-sm" id="sentryKey" type="text"
                                               ng:model="sampleErrors.raven.config.publicKey"
                                               placeholder="https://<-key->@app.getsentry.com/12345">
                                        <div class="input-group-btn">
                                            <a class="btn btn-sm btn-default"
                                               ng-class="{ 'btn-danger': sampleErrors.raven.lastError, 'btn-primary': sampleErrors.raven.config.publicKey, 'btn-default': !sampleErrors.raven.config.publicKey }"
                                               ng-disabled="!sampleErrors.raven.config.publicKey"
                                               ng-click="sampleErrors.raven.connect(sampleErrors.raven.config.publicKey)">Set</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br />
                            <div class="alert alert-danger" ng-if="!sampleErrors.raven.isOnline && sampleErrors.raven.lastError">
                                {{ sampleErrors.raven.lastError.message }}
                            </div>
                            <div class="alert alert-info" ng-if="!sampleErrors.raven.isOnline && !sampleErrors.raven.lastError">
                                <a target="_blank" href="https://www.getsentry.com/welcome/">Sentry</a> is a third party online service used to track errors.
                                <a target="_blank" href="http://raven-js.readthedocs.org/en/latest/">RavenJS</a> is used on the client-side to catch and send events on to Sentry.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
