<style>
    .results {
        min-width: 480px;
        display: flex;
    }

        .results .icon {
            margin: 0 8px;
            font-size: 128px;
            width: 128px !important;
            height: 128px !important;
            position: relative;
            flex-grow: 0;
            flex-shrink: 0;
        }

            .results .icon .sub-icon {
                font-size: 64px !important;
                width: 64px !important;
                height: 64px !important;
                position: absolute;
                right: 0;
                top: 0;
                margin-top: 100px;
            }

                .results .icon .sub-icon.success {
                    color: #080;
                }

                .results .icon .sub-icon.error {
                    color: #D00;
                }

                .results .icon .sub-icon.warning {
                    color: #0094ff;
                }

                .results .icon .sub-icon.busy {
                    color: #0094ff;
                }

        .results .info {
            margin: 0 16px;
            min-height: 128px;
            min-width: 300px;
            display: inline-block;
            flex-grow: 1;
            flex-shrink: 1;
        }

            .results .info h4 {
                text-wrap: avoid;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

                .results .info h4 a {
                    color: black;
                }

            .results .info .ctrl-sm {
                font-size: larger;
                margin-left: 8px;
                color: black;
            }

    .info-row {
        display: flex;
    }

    .info-row-links {
        color: silver;
    }

        .info-row-links a {
            color: #4a4a4a;
            margin-left: 8px;
        }

            .info-row-links a:hover {
                color: #000000;
            }

    .info-col-primary {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .info-col-secondary {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .iframe-body {
        margin: 0;
        padding: 0;
    }

        .iframe-body iframe {
            margin: 0;
            padding: 0;
        }
</style>
<div ng:cloak>
    <div ng-if="!state.showRaw" class="results" ng-init="detect()">
        <div class="icon pull-left left">
            <i class="glyphicon glyphicon-bell"></i>
            <i class="sub-icon glyphicon" ng-class="getStatusIcon()"></i>
        </div>
        <div class="info pull-left">
            <div>
                <div class="pull-right">
                    <a class="ctrl-sm" ng-click="state.editMode = true" href=""><i class="glyphicon glyphicon-pencil"></i></a>
                </div>
                <h4>
                    <a target="_blank" href="https://www.getsentry.com/welcome/">Sentry</a> and
                    <a target="_blank" href="http://raven-js.readthedocs.org/en/latest/">Raven-js</a>
                    <small>Client Error and Exception Handling</small>
                </h4>
            </div>
            <div class="input-group">                
                <span class="input-group-addon">
                    Sentry Key:
                </span>
                <input type="text" class="form-control" aria-label="..."
                       ng-disabled="!state.editMode"
                       ng-model="state.cfgRaven.publicKey"
                       placeholder="Example: https://-your-api-key-here-@app.getsentry.com/12345">
                <label class="input-group-addon">
                    <input type="checkbox" aria-label="..." ng-disabled="!state.cfgRaven.publicKey" ng-model="state.cfgRaven.isEnabled"> Enabled
                </label>
                <span class="input-group-btn">
                    <a target="_blank" ng-href="{{ state.cfgRaven.publicKey }}"
                       class="btn btn-default"
                       ng-disabled="!state.cfgRaven.publicKey">Open Dashboard</a>
                </span>
            </div>
            <hr />
            <div ng-if="!state.editMode">
                <div class="info-row">
                    <div class="btn-group" role="group" aria-label="...">
                        <input type="button" class="btn"
                               value="Managed Error"
                               ng-class="{ 'btn-primary' : state.cfgRaven.isEnabled, ' btn-primary' : !state.cfgRaven.isEnabled }"
                               ng-click="throwManagedException()" />
                        <input type="button" class="btn btn-default"
                               value="Ajax Error"
                               ng-class="{ 'btn-primary' : state.cfgRaven.isEnabled, 'btn-default' : !state.cfgRaven.isEnabled }"
                               ng-click="throwAjaxException()" />
                        <input type="button" class="btn btn-default"
                               value="AngularJS Error"
                               ng-class="{ 'btn-primary' : state.cfgRaven.isEnabled, 'btn-default' : !state.cfgRaven.isEnabled }"
                               ng-click="throwAngularException()" />
                        <input type="button" class="btn btn-default"
                               value="Timeout Error"
                               ng-class="{ 'btn-primary' : state.cfgRaven.isEnabled, 'btn-default' : !state.cfgRaven.isEnabled }"
                               ng-click="throwTimeoutException()" />
                        <input type="button" class="btn btn-default"
                               value="Unhandled Exception"
                               ng-class="{ 'btn-primary' : state.cfgRaven.isEnabled, 'btn-default' : !state.cfgRaven.isEnabled }"
                               onclick="sampleError.dont.exist++;" />
                    </div>
                    <br class="clearfix" />
                </div>
                <div ng-if="result != null">
                    <p>
                        <div class="alert alert-danger" ng-if="!result.valid && result.error && result.error != 'error'">
                            <i class="glyphicon glyphicon-exclamation-sign"></i> <b>Failed:</b> {{ result.error }}
                        </div>
                    </p>
                </div>
            </div>
            <form class="" ng-if="state.editMode">
                <button type="submit" class="btn btn-primary"
                        xxng-disabled="!state.cfgRaven.publicKey"
                        ng-click="submitForm()">
                    Update
                </button>
            </form>
        </div>
    </div>
    <div ng-if="state.activeTab == 'preview'" class="panel panel-default">
        <div class="panel-heading">
            <b class="panel-title">
                <i class="glyphicon glyphicon-globe"></i>
                <a target="_blank" href="{{ state.location }}">{{ state.location }}</a>
            </b>
        </div>
        <div class="panel-body info-row iframe-body" style="min-height: 480px;">
            <iframe class="info-col-primary" ng-src="{{ state.location }}" frameborder="0">IFrame not available</iframe>
        </div>
    </div>
    <div ng-if="state.activeTab == 'result'" class="source">
        <span class="pull-right">
            <a class="btn btn-sm btn-primary" ng-click="state.activeTab = null">Close</a>
        </span>
        <samp><pre>{{ result.info }}</pre></samp>
    </div>
</div>