<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirects for the routing proxies -->
        <rule name="html.test" stopProcessing="true">
          <match url="(.*)" />
          <conditions trackAllCaptures="true">
            <add input="{QUERY_STRING}" pattern="(.*&amp;?)(test!)(&amp;?.*)" />
            <add input="{REQUEST_URI}" pattern="(.*)(!test!)(.*)" negate="true" />
          </conditions>
          <action type="Redirect" url="/#/!test!/{R:1}?{C:1}{C:3}" appendQueryString="false" />
        </rule>
        <rule name="html.debug" stopProcessing="true">
          <match url="(.*)" />
          <conditions trackAllCaptures="true">
            <add input="{QUERY_STRING}" pattern="(.*)&amp;?(debug!)&amp;?(.*)" />
            <add input="{REQUEST_URI}" pattern="(.*)(!debug!)(.*)" negate="true" />
          </conditions>
          <action type="Redirect" url="/#/!debug!/{R:1}?{C:1}{C:3}" appendQueryString="false" />
        </rule>
        
        <!-- Default routing for html5 -->
        <rule name="html5" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>        
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>