<div class="footer">
    <span class="pull-left">
        <label class="log-group ng-cloak" ng:show="appState.logs | typeCount:'error'">
            <i class="glyphicon glyphicon-exclamation-sign glow-red"></i>
            <a ui:sref="proto.logs" class="ng-cloak">Errors ({{ appState.logs | typeCount:'error' }})</a>
        </label>
        <label class="log-group ng-cloak" ng:show="appState.logs | typeCount:'warn'">
            <i class="glyphicon glyphicon-warning-sign glow-orange"></i>
            <a ui:sref="proto.logs" class="ng-cloak">Warnings ({{ appState.logs | typeCount:'warn' }})</a>
        </label>
    </span>
    <span ng:if="false">
        <em><i class="fa fa-spinner fa-spin"></i> Loading...</em>
    </span>
    <span ng:if="true" class="ng-cloak">
        Client Version: <span app:version><em>Loading...</em></span> |
    </span>
    <span ui:view="foot">
        Powered by <a href="https://angularjs.org/">AngularJS</a>
        <span ng:if="appState.node.active" class="ng-cloak">
            &amp; <a href="https://github.com/rogerwang/node-webkit">Node Webkit</a>
        </span>
    </span>
    <span ng:if="startAt" class="ng-cloak">| Started {{ startAt | fromNow }}</span>
</div>