<div id="menu" class="dragable">
    <div ui:view="menu">
        <ul class="nav navbar-nav">
            <li ui:sref-active="open">
                <a ui:sref="default">Default</a>
            </li>
            <li ui:sref-active="open"
                ng:repeat="route in appState.routers | orderBy:'(priority || 1)'"
                ng:if="route.menuitem && (!route.visible || route.visible())">
                <a ng:if="route.menuitem.state" ui:sref="{{ route.menuitem.state }}">
                    <i ng-if="route.menuitem.icon" class="{{route.menuitem.icon}}"></i> {{ route.menuitem.label }}
                </a>
                <a ng:if="!route.menuitem.state" ng:href="{{ route.url }}">
                    <i ng-if="route.menuitem.icon" class="{{route.menuitem.icon}}"></i> {{ route.menuitem.label }}
                </a>
            </li>
        </ul>
    </div>
</div>