<div id="menu" class="dragable">
    <div class="pull-right">
        <a ui:sref="default" class="btn btn-default">Home</a>
    </div>
    <div ui:view="menu">
        <ul class="nav navbar-nav">
            <li ui:sref-active="open">
                <a ui:sref="default">Default</a>
            </li>
            <li ui:sref-active="open"
                ng:repeat="route in appConfig.routers | filter:visible | orderBy:'(priority || 1)'"
                ng:if="route.menuitem && (!route.visible || route.visible())">
                <a ng:if="route.menuitem.state" ui:sref="{{ route.menuitem.state }}">{{ route.menuitem.label }}</a>
                <a ng:if="!route.menuitem.state" ng:href="{{ route.url }}">{{ route.menuitem.label }}</a>
            </li>
        </ul>
    </div>
</div>