<div id="DecoratorView" class="container" style="width: 100%;">

    <!-- Define required scripts & styling for bootstrap switch -->
    <script resx:import="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
    <link resx:import="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />

    <div class="row">
        <div class="col-md-12">
            <span class="pull-right ng-cloak" style="padding: 6px;">
                <input bs:switch type="checkbox"
                       ng:model="appConfig.decorators.debug"
                       switch:size="mini"
                       switch:label="Debug"
                       switch:inverse="false" />
                <input bs:switch type="checkbox"
                       ng:model="appConfig.decorators.enabled"
                       switch:size="mini"
                       switch:label="Interceptors"
                       switch:inverse="false" />
                <input bs:switch type="checkbox"
                       ng:model="appConfig.interceptors.enabled"
                       switch:size="mini"
                       switch:label="HTTP Trackers"
                       switch:inverse="false" />
            </span>
            <h4>
                Interceptors and Decorators
                <small>Monkey patching the normal behaviour of your application.</small>
            </h4>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <p>
                        By making use of angular's <a href="https://docs.angularjs.org/api/auto/service/$provide">$provide decorators</a>,
                        we patch the <a href="https://docs.angularjs.org/api/ng/service/$q">$q service</a> to intercept any promised
                        actions and take over the reply mechanism.
                    </p>
                    <p>
                        After the initial investigation, it quickly became clear there are just way too many promises to intercept and keep track
                        of, many of them in the angular framework itself. A mechanism was required to identify (and filter out) the promises
                        we were looking for.
                    </p>
                    <p>
                        With no <em>real</em> unique identifiers to work with, stack traces are used for tracking identity. In javascript,
                        stack traces are ugly, and not always helpful, but with a little bit of regular expressions, enough sensible info
                        can be extracted to get a picture of <em>where</em> the actions originate from. And this opens up a whole new world
                        of oppertunities...
                    </p>
                    <p>
                        - This sample was inspired by <a target="_blank" href="http://www.bennadel.com/blog/2775-monkey-patching-the-q-service-using-provide-decorator-in-angularjs.htm">this blog post</a>. :)
                        <br />
                        - The idea to use stack traces was inspired from <a target="_blank" href="http://www.codeovertones.com/2011/08/how-to-print-stack-trace-anywhere-in.html">this blog post</a>.
                    </p>
                </div>
                <div class="col-md-6">
                    <pre ng:if="interceptors.ajaxResult">{{ ajaxResult }}</pre>
                    <div ng:if="!interceptors.ajaxResult"
                         class="inactive-fill-text"
                         style="border: dotted 1px silver; padding: 100px 0;">
                        <div class="" ng-if="decorators.lastStatus === undefined || decorators.lastStatus === null">
                            <em>No result yet</em>
                        </div>
                        <div class="glow-green" ng-if="decorators.lastStatus === true">
                            <i class="fa fa-check"></i> <b>Accepted</b>
                        </div>
                        <div class="glow-red" ng-if="decorators.lastStatus === false">
                            <i class="fa fa-close"></i> <b>Rejected</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <a href="" class="btn btn-default"
                           ng-class="{ 'btn-success': (decorators.lastStatus && decorators.lastResult), 'btn-danger': (!decorators.lastStatus && decorators.lastResult), 'btn-primary': !decorators.lastResult }"
                           ng-click="decorators.runPromiseAction()">
                            Run Promised Action
                        </a>
                        <a class="btn btn-default"
                           ng-click="decorators.fcall()"
                           xxx-ng-disabled="!appConfig.decorators.enabled"
                           ng-class="{ 'btn-success': decorators.fcallState == 'Resolved', 'btn-danger': decorators.fcallState == 'Rejected', 'btn-primary':appConfig.decorators.enabled }" href="">
                            Call Timeout Function
                        </a>
                        <a class="btn btn-default" href=""
                           ng-click="interceptors.triggerAjaxRequest()"
                           xxx-ng-disabled="!appConfig.interceptors.enabled"
                           ng-class="{ 'btn-success': interceptors.ajaxStatus === true, 'btn-danger': interceptors.ajaxStatus === false, 'btn-primary': appConfig.interceptors.enabled }">
                            HTML Ajax Request
                        </a>
                    </p>
                </div>
            </div>
            <div ng:if="decorators.error" class="alert alert-danger">
                <b>Error: </b>
                {{ decorators.error.message || 'Something went wrong.' }}
            </div>
            <div ng:if="!decorators.error">
                <div class="alert alert-success" ng-if="decorators.lastStatus === true">
                    <b>Accepted:</b> {{ decorators.lastResult || 'No additional information specified.' }}
                </div>
                <div class="alert alert-danger" ng-if="decorators.lastStatus === false">
                    <b>Rejected:</b> {{ (decorators.lastResult.message || decorators.lastResult) || 'No additional information specified.' }}
                </div>
            </div>
        </div>
    </div>
</div>
