<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="true" />
    <handlers>
      <add name="proto-ng/lib" path="assets/lib/prototyped.ng.js" verb="*" type="prototyped.ng.Packager, prototyped.ng" preCondition="integratedMode" />
      <add name="proto-ng-extended/lib" path="assets/lib/prototyped.ng.extended.js" verb="*" type="prototyped.ng.extended.Packager, prototyped.ng.extended" preCondition="integratedMode" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <rewrite>
      <rules>
        <!--
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        -->

        <rule name="Allow Assets" stopProcessing="true">
          <match url="assets/.*" />
        </rule>
        
        <!-- Redirects for the routing proxies -->
        <rule name="html.test" stopProcessing="true">
          <match url="(.*)" />
          <conditions trackAllCaptures="true">
            <add input="{QUERY_STRING}" pattern="(.*&amp;?)(test!)(&amp;?.*)" />
            <add input="{REQUEST_URI}" pattern="(.*)(!test!)(.*)" negate="true" />
          </conditions>
          <action type="Redirect" url="/#/!test!/{R:1}?{C:1}{C:3}" appendQueryString="false" />
        </rule>
        <rule name="html.debug" stopProcessing="true">
          <match url="(.*)" />
          <conditions trackAllCaptures="true">
            <add input="{QUERY_STRING}" pattern="(.*)&amp;?(debug!)&amp;?(.*)" />
            <add input="{REQUEST_URI}" pattern="(.*)(!debug!)(.*)" negate="true" />
          </conditions>
          <action type="Redirect" url="/#/!debug!/{R:1}?{C:1}{C:3}" appendQueryString="false" />
        </rule>

        <!-- Default routing for html5 -->
        <rule name="html5" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-- Might interfere with routing. Enable this to be strict about folders.
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            -->
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>        
        
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>